In [1]:
import sys
sys.path.append('..')
from MPRA_exp.utils import *

In [2]:
TF_counts_df = pd.read_csv('data/Siraj_TF_counts_matrix.csv')
TF_counts_df

,Mecom,BATF,CTCF,Tcf12,RORC,OSR1,PBX3,VENTX,OTX2,Smad4,...,POU3F1,JDP2,TFAP2C,REST,ZNF331,IRF8,ZNF417,SRY,TWIST1,ASCL1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585600,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
585601,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
585602,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
585603,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
585604,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [3]:
TF_RNA_df = pd.read_csv("data/TF_RNA_df.csv")
TF_RNA_df

,gene_id,gene_symbol,Universal_Human_Reference,H1_Cell_Line,H1_BMP4_Derived_Mesendoderm_Cultured_Cells,H1_BMP4_Derived_Trophoblast_Cultured_Cells,H1_Derived_Mesenchymal_Stem_Cells,H1_Derived_Neuronal_Progenitor_Cultured_Cells,hESC_Derived_CD184+_Endoderm_Cultured_Cells,hESC_Derived_CD56+_Ectoderm_Cultured_Cells,...,A549,GM12878,HELA,HepG2,HMEC,HSMM,HUVEC,K562,NHEK,NHLF
0,ENSG00000001167,NFYA,1.267430,1.155822,1.192456,1.433274,1.148633,1.353859,1.505448,1.500977,...,1.022882,1.101850,1.130527,1.045949,0.965484,0.971090,1.043559,1.220683,1.103085,0.859679
1,ENSG00000005102,MEOX1,0.122216,0.017451,0.010300,0.819281,0.000868,0.037426,0.258398,0.451940,...,0.001301,0.898780,0.580012,0.000000,0.004751,0.004751,0.013680,0.000000,0.025306,0.002166
2,ENSG00000005513,SOX8,0.710287,0.711807,0.446692,0.424228,0.044148,0.793790,0.709100,0.545060,...,0.022016,0.000000,0.000000,0.139249,0.000000,1.208441,0.211121,0.053463,0.014940,0.006466
3,ENSG00000006194,ZNF263,1.094506,1.107210,1.197804,0.961801,1.058768,1.191423,1.113107,1.128044,...,1.058236,0.833338,0.839289,0.833466,0.672375,0.734320,0.755189,0.780533,0.831230,0.650890
4,ENSG00000006377,DLX6,0.486147,0.003461,0.041393,0.725340,0.000000,0.137354,0.049993,0.047664,...,0.002166,0.000000,0.000000,0.447158,0.000000,0.000868,0.000000,0.000000,0.005181,0.000868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,ENSG00000245848,CEBPA,0.989138,0.388101,0.216957,2.171036,0.019116,0.289812,0.232234,0.215373,...,0.615845,0.040998,0.521400,1.536116,0.327155,0.046105,0.024896,0.073718,0.667826,0.009876
607,ENSG00000253293,HOXA10,0.680426,0.000000,0.001734,0.274389,0.701654,0.000000,0.196453,0.003461,...,0.572523,0.000000,0.692230,0.005609,0.047664,1.076386,1.002425,0.000000,0.340841,0.094122
608,ENSG00000257923,CUX1,1.112303,0.998564,1.043991,0.947385,1.133507,1.022676,0.940666,0.954677,...,0.987845,0.486289,0.561340,0.634276,0.606059,0.827499,0.668852,0.529943,0.673850,0.658298
609,ENSG00000258389,DUX4,0.029789,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.014100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
610,ENSG00000258873,DUXA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.010724,0.000000,0.000000,0.000000,0.002166,0.000000,0.000000,0.001734,0.000000,0.000000

In [4]:
cell_types = TF_RNA_df.columns[3:]
print(TF_RNA_df[cell_types].mean(axis=1))

TF_RNA_df[cell_types] = (TF_RNA_df[cell_types]>0.5).astype(int)
TF_RNA_df

0      1.174085
1      0.258345
2      0.450145
3      1.056398
4      0.095682
         ...
606    0.728340
607    0.306541
608    0.993681
609    0.000713
610    0.000686
Length: 611, dtype: float64

,gene_id,gene_symbol,Universal_Human_Reference,H1_Cell_Line,H1_BMP4_Derived_Mesendoderm_Cultured_Cells,H1_BMP4_Derived_Trophoblast_Cultured_Cells,H1_Derived_Mesenchymal_Stem_Cells,H1_Derived_Neuronal_Progenitor_Cultured_Cells,hESC_Derived_CD184+_Endoderm_Cultured_Cells,hESC_Derived_CD56+_Ectoderm_Cultured_Cells,...,A549,GM12878,HELA,HepG2,HMEC,HSMM,HUVEC,K562,NHEK,NHLF
0,ENSG00000001167,NFYA,1.267430,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,ENSG00000005102,MEOX1,0.122216,0,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2,ENSG00000005513,SOX8,0.710287,1,0,0,0,1,1,1,...,0,0,0,0,0,1,0,0,0,0
3,ENSG00000006194,ZNF263,1.094506,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,ENSG00000006377,DLX6,0.486147,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,ENSG00000245848,CEBPA,0.989138,0,0,1,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0
607,ENSG00000253293,HOXA10,0.680426,0,0,0,1,0,0,0,...,1,0,1,0,0,1,1,0,0,0
608,ENSG00000257923,CUX1,1.112303,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1
609,ENSG00000258389,DUX4,0.029789,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
610,ENSG00000258873,DUXA,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
TF_counts_df = TF_counts_df[TF_RNA_df['gene_symbol']]
TF_counts_df = TF_counts_df.astype(bool).astype(int)
TF_counts_df

,NFYA,MEOX1,SOX8,ZNF263,DLX6,ETV1,PAX6,TEAD3,E2F2,TFAP2B,...,SCRT2,SP9,CEBPD,YY2,ETV5,CEBPA,HOXA10,CUX1,DUX4,DUXA
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585600,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
585601,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
585602,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
585603,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
585604,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
main_df = pd.read_csv('../../data/SirajMPRA/SirajMPRA_total.csv')
main_df

,seq,A549,HepG2,K562,SKNSH,HCT116,is_ref,chr,pos,ref,alt
0,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.667516,-0.704147,0.538641,0.159069,True,chr1,14677,G,A
1,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.415984,0.554099,0.441904,-0.288019,False,chr1,14677,G,A
2,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.269937,-0.391222,0.752052,1.100437,True,chr1,63697,T,C
3,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.151995,-0.659023,0.204721,1.050619,False,chr1,63697,T,C
4,AATAGACTCTAGTACTCTGTATTATGCAAAATTTGTCTATGTTACA...,NaN,-0.211076,-0.007174,0.499376,0.257572,True,chr1,64764,C,T
...,...,...,...,...,...,...,...,...,...,...,...
585600,ATCATTTACTGGTGACTGCCCTGCTAGGGTGTCAGCTGTCAGATCC...,NaN,0.615976,1.927090,0.798263,1.035440,False,chrX,155233098,T,C
585601,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,1.409758,0.556338,2.843295,1.495515,True,chrX,155233794,A,G
585602,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,0.894634,-0.072647,1.973661,0.794848,False,chrX,155233794,A,G
585603,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.312172,0.165634,-0.041383,0.444472,True,chrX,155234730,T,C
585604,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.370818,0.009694,-0.035569,0.407723,False,chrX,155234730,T,C

In [7]:
main_df['diff'] = (main_df['HepG2'] - main_df['K562']).abs() > 1
print(main_df['diff'].sum())

# main_df['diff'] = ((main_df['HepG2'] > 1) & (main_df['K562'] < 0)) | ((main_df['HepG2'] < 0) & (main_df['K562'] > 1))

60879

In [8]:
# condition0 = (main_df['chr'] != 'chr0')
# condition1 = (main_df['chr'] == 'chr0')

# TF_counts_df[condition1]

# fig, ax = plt.subplots(figsize=(8, 6), dpi=100)
# left, right, bottom, top = 0.15, 0.95, 0.15, 0.95
# ax.set_position([left, bottom, right - left, top - bottom])

# sns.set_style("whitegrid")
# counts0 = TF_counts_df[condition0].sum(axis=1)
# counts1 = TF_counts_df[condition1].sum(axis=1)
# sns.kdeplot(counts0, label='genome', alpha=0.8)
# sns.kdeplot(counts1, label='designed', alpha=0.8)

# plt.xlim(0, 400)
# plt.legend()
# plt.xlabel('TF motif hits sum')
# plt.ylabel('Density')
# plt.savefig('figures/TF_motif_hits_sum.png', dpi=400)

In [9]:
split_column = 'chr'
split_dict = {
    'train': [f'chr{i}' for i in range(3, 23)],
    'valid': ['chr1'],
    'test': ['chr2'],
    'designed': ['chr0'],
}

data_split_dict = {key: main_df[main_df[split_column].isin(values)] for key, values in split_dict.items()}

In [10]:
for cell_type in ['HepG2', 'K562', 'SKNSH']:
    for data_split in ['test']:
        condition = data_split_dict[data_split]
        x = TF_counts_df.sum(axis=1)[condition]
        y = main_df[condition][cell_type]
        r = pearson(x, y)
        print(cell_type, data_split, f'total r = {r:.3f}')

        condition = data_split_dict[data_split] & ~main_df['diff']
        x = TF_counts_df.sum(axis=1)[condition]
        y = main_df[condition][cell_type]
        r = pearson(x, y)
        print(cell_type, data_split, f'const r = {r:.3f}')

        condition = data_split_dict[data_split] & main_df['diff']
        x = TF_counts_df.sum(axis=1)[condition]
        y = main_df[condition][cell_type]
        r = pearson(x, y)
        print(cell_type, data_split, f'diff r = {r:.3f}')

HepG2 test total r = 0.286
HepG2 test const r = 0.240
HepG2 test diff r = 0.369
K562 test total r = 0.260
K562 test const r = 0.215
K562 test diff r = 0.307
SKNSH test total r = 0.208
SKNSH test const r = 0.150
SKNSH test diff r = 0.337

In [11]:
from sklearn.linear_model import LogisticRegression, LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.neural_network import MLPClassifier, MLPRegressor
from sklearn.svm import SVC, SVR
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [12]:
def remove_nan(x, y):
    if x.shape[0] == 1:
        mask = ~np.isnan(x) & ~np.isnan(y)
    else:
        mask = ~np.isnan(x).any(axis=1) & ~np.isnan(y)
    x, y = x[mask], y[mask]
    return x, y

In [13]:
for cell_type in ['HepG2', 'K562']:
    print(f'model trained on {cell_type}')
    data_split = 'train'

    condition = data_split_dict[data_split]
    X_train = TF_counts_df[condition]
    y_train = main_df[condition][cell_type]

    X_train, y_train = remove_nan(X_train, y_train)
    if len(y_train) == 0:
        continue

    model = Lasso(alpha=1e-3)
    # model = MLPRegressor(hidden_layer_sizes=10, alpha=1e-3)
    model.fit(X_train, y_train)

    for cell_type in ['HepG2', 'K562', 'SKNSH']:
        for data_split in ['test', 'designed']:

            condition = data_split_dict[data_split]
            X_valid = TF_counts_df[condition]
            y_valid = main_df[condition][cell_type]

            X_valid, y_valid = remove_nan(X_valid, y_valid)
            if len(y_valid) == 0:
                continue
            y_pred = model.predict(X_valid)
            r = pearson(y_valid, y_pred)
            print(cell_type, data_split, len(y_valid), f'total r = {r:.3f}')




            condition = data_split_dict[data_split] & ~main_df['diff']
            X_valid = TF_counts_df[condition]
            y_valid = main_df[condition][cell_type]

            X_valid, y_valid = remove_nan(X_valid, y_valid)
            if len(y_valid) == 0:
                continue
            y_pred = model.predict(X_valid)
            r = pearson(y_valid, y_pred)
            print(cell_type, data_split, len(y_valid), f'const r = {r:.3f}')




            condition = data_split_dict[data_split] & main_df['diff']
            X_valid = TF_counts_df[condition]
            y_valid = main_df[condition][cell_type]
            
            X_valid, y_valid = remove_nan(X_valid, y_valid)
            if len(y_valid) == 0:
                continue
            y_pred = model.predict(X_valid)
            r = pearson(y_valid, y_pred)
            print(cell_type, data_split, len(y_valid), f'diff r = {r:.3f}')


    print()

model trained on HepG2
HepG2 test 44639 total r = 0.503
HepG2 test 40153 const r = 0.458
HepG2 test 4486 diff r = 0.564
K562 test 44619 total r = 0.436
K562 test 40133 const r = 0.416
K562 test 4486 diff r = 0.399
SKNSH test 44591 total r = 0.481
SKNSH test 40119 const r = 0.440
SKNSH test 4472 diff r = 0.532

model trained on K562
HepG2 test 44639 total r = 0.459
HepG2 test 40153 const r = 0.425
HepG2 test 4486 diff r = 0.467
K562 test 44619 total r = 0.474
K562 test 40133 const r = 0.429
K562 test 4486 diff r = 0.509
SKNSH test 44591 total r = 0.448
SKNSH test 40119 const r = 0.405
SKNSH test 4472 diff r = 0.491

In [14]:
TF_RNA_df.index = TF_RNA_df['gene_symbol']

for cell_type in ['HepG2', 'K562']:
    print(f'model trained on {cell_type}')
    
    TF_counts_conc_df = TF_counts_df.mul(TF_RNA_df[cell_type], axis=1)

    data_split = 'train'
    condition = data_split_dict[data_split]
    X_train = TF_counts_conc_df[condition]
    y_train = main_df[condition][cell_type]

    X_train, y_train = remove_nan(X_train, y_train)
    if len(y_train) == 0:
        continue
    model = Lasso(alpha=1e-3)
    # model = MLPRegressor(hidden_layer_sizes=10, alpha=1e-3)
    model.fit(X_train, y_train)

    for cell_type in ['HepG2', 'K562']:
        for data_split in ['test', 'designed']:
            TF_counts_conc_df = TF_counts_df.mul(TF_RNA_df[cell_type], axis=1)
            
            condition = data_split_dict[data_split]
            X_valid = TF_counts_conc_df[condition]
            y_valid = main_df[condition][cell_type]
            X_valid, y_valid = remove_nan(X_valid, y_valid)
            if len(y_valid) == 0:
                continue
            y_pred = model.predict(X_valid)
            r = pearson(y_valid, y_pred)
            print(cell_type, data_split, len(y_valid), f'total r = {r:.3f}')


            condition = data_split_dict[data_split] & ~main_df['diff']
            X_valid = TF_counts_conc_df[condition]
            y_valid = main_df[condition][cell_type]
            X_valid, y_valid = remove_nan(X_valid, y_valid)
            if len(y_valid) == 0:
                continue
            y_pred = model.predict(X_valid)
            r = pearson(y_valid, y_pred)
            print(cell_type, data_split, len(y_valid), f'const r = {r:.3f}')




            condition = data_split_dict[data_split] & main_df['diff']
            X_valid = TF_counts_conc_df[condition]
            y_valid = main_df[condition][cell_type]
            X_valid, y_valid = remove_nan(X_valid, y_valid)
            if len(y_valid) == 0:
                continue
            y_pred = model.predict(X_valid)
            r = pearson(y_valid, y_pred)
            print(cell_type, data_split, len(y_valid), f'diff r = {r:.3f}')
    print()

model trained on HepG2
HepG2 test 44639 total r = 0.474
HepG2 test 40153 const r = 0.427
HepG2 test 4486 diff r = 0.536
K562 test 44619 total r = 0.415
K562 test 40133 const r = 0.387
K562 test 4486 diff r = 0.398

model trained on K562
HepG2 test 44639 total r = 0.434
HepG2 test 40153 const r = 0.393
HepG2 test 4486 diff r = 0.465
K562 test 44619 total r = 0.445
K562 test 40133 const r = 0.400
K562 test 4486 diff r = 0.471