In [1]:
import sys
sys.path.append('../..')
from MPRA_predict.utils import *
from MPRA_predict.datasets import *

np.set_printoptions(suppress=True, precision=6)

In [2]:
bed_df = pd.read_csv('data/enformer_data.csv')
bed_df

         chr      start        end  split
0      chr18     928386    1059458  train
1       chr4  113630947  113762019  train
2      chr11   18427720   18558792  train
3      chr16   85805681   85936753  train
4       chr3  158386188  158517260  train
...      ...        ...        ...    ...
38166  chr19   33204702   33335774   test
38167  chr14   41861379   41992451   test
38168  chr19   30681544   30812616   test
38169  chr14   61473198   61604270   test
38170   chr2  129664471  129795543   test

[38171 rows x 4 columns]

In [3]:
pearson = np.load('data/pearson.npy')

In [5]:
pearson.mean()

0.6502893073571129

In [6]:
pearson[[121,122,123]]

array([0.777506, 0.775478, 0.714252])

In [8]:
targets = pd.read_csv('/home/shared/enformer_data/human/targets.txt', sep='\t')
targets_K562 = targets[targets['description'] == 'DNASE:K562']
targets_K562

,index,genome,identifier,file,clip,scale,sum_stat,description
121,121,0,ENCFF413AHU,/home/drk/tillage/datasets/human/dnase/encode/...,32,2,mean,DNASE:K562
122,122,0,ENCFF868NHV,/home/drk/tillage/datasets/human/dnase/encode/...,32,2,mean,DNASE:K562
123,123,0,ENCFF565YDB,/home/drk/tillage/datasets/human/dnase/encode/...,32,2,mean,DNASE:K562
625,625,0,ENCFF971AHO,/home/drk/tillage/datasets/human/dnase/encode/...,32,2,mean,DNASE:K562

In [9]:
y_pred = np.load('data/Enformer_Siraj_pred_len=196608.npy')
print(y_pred.shape)

(1937, 896, 5313)