In [1]:
import sys
sys.path.append('..')
from MPRA_predict.utils import *

In [5]:
df = pd.read_csv('../data/Gosai_MPRA/41586_2024_8070_MOESM4_ESM.txt', delimiter='\t', low_memory=False)
df

                          IDs chr data_project  OL          class  K562_log2FC  HepG2_log2FC  SKNSH_log2FC  K562_lfcSE  HepG2_lfcSE  SKNSH_lfcSE                                           sequence
0         7:70038969:G:T:A:wC   7         UKBB  29        BMI,BFP        0.061         0.234         0.047       0.099        0.118        0.131  CCTGGTCTTTCTTGCTAAATAAACATATCGTGCATCATCCAGATCT...
1        1:192696196:C:T:A:wC   1         UKBB  33  Depression_GP        0.380         0.005        -0.244       0.162        0.186        0.119  CATAAAGATGAGGCTTGGCAAAGAACATCTCTCGGTGCCTCCCATT...
2        1:211209457:C:T:A:wC   1         UKBB  33            CAD        0.037         0.385        -0.005       0.098        0.122        0.087  CATAAAGCCAATCACTGAGATGACAAGTACTGCCAGGAAAGAAGGC...
3       15:89574440:GT:G:A:wC  15         UKBB  33            CAD        4.465         4.107         2.870       0.114        0.140        0.163  CATAAAGGCAGTGTAGACCCAAACAGTGAGCAGTAGCAAGATTTAT...
4       15:89574440:GT:G:R:wC  15         UKBB  33            CAD        4.509         4.116         3.040       0.157        0.209        0.195  CATAAAGGCAGTGTAGACCCAAACAGTGAGCAGTAGCAAGATTTAT...
...                       ...  ..          ...  ..            ...          ...           ...           ...         ...          ...          ...                                                ...
798059       4:44680358:NA:NA   4          CRE  15        K27_All        7.444         5.344         6.585       0.098        0.070        0.141  CAGTAGTAAGAAAGAGACAATGCAAAGGAATTGGCACAGCACTCAG...
798060       18:9125893:NA:NA  18          CRE  15       K27_Uniq       -0.205        -0.157        -0.209       0.133        0.157        0.185  CAGTACTGCTGGCCCCAGAAAAGCCCCTCTCCTTATACCCTAGGCC...
798061      12:33905808:NA:NA  12          CRE  15       K27_Uniq        1.218         0.614         0.570       0.127        0.167        0.191  CAGTACCTTGTCCCCACTTCCCATTTGGCCTCTGGCAGAGGAGGAG...
798062      3:128145854:NA:NA   3          CRE  15       K27_Uniq       -0.222        -0.339        -0.818       0.159        0.198        0.239  CAGTACACCCCAGCTTCCAAAGGCCTTCTGTGACAAAGAGAGACTA...
798063       2:42731164:NA:NA   2          CRE  15       K27_Uniq        1.064         0.100         0.525       0.118        0.161        0.172  TTTTTTTTTTTTTTTTGAGATGGAGTTTCCCTCTTGTCACCCAGGC...

[798064 rows x 12 columns]

In [6]:
df['chr'] = 'chr' + df['chr'].astype(str)
df = df.rename(columns={
    'IDs': 'ID',
    'HepG2_log2FC': 'HepG2',
    'K562_log2FC': 'K562',
    'SKNSH_log2FC': 'SK-N-SH',
    'sequence': 'seq'})

df = df[['ID', 'chr', 'data_project', 'OL', 'K562', 'HepG2', 'SK-N-SH', 'seq']]
df

                           ID    chr data_project  OL   K562  HepG2  SK-N-SH                                                seq
0         7:70038969:G:T:A:wC   chr7         UKBB  29  0.061  0.234    0.047  CCTGGTCTTTCTTGCTAAATAAACATATCGTGCATCATCCAGATCT...
1        1:192696196:C:T:A:wC   chr1         UKBB  33  0.380  0.005   -0.244  CATAAAGATGAGGCTTGGCAAAGAACATCTCTCGGTGCCTCCCATT...
2        1:211209457:C:T:A:wC   chr1         UKBB  33  0.037  0.385   -0.005  CATAAAGCCAATCACTGAGATGACAAGTACTGCCAGGAAAGAAGGC...
3       15:89574440:GT:G:A:wC  chr15         UKBB  33  4.465  4.107    2.870  CATAAAGGCAGTGTAGACCCAAACAGTGAGCAGTAGCAAGATTTAT...
4       15:89574440:GT:G:R:wC  chr15         UKBB  33  4.509  4.116    3.040  CATAAAGGCAGTGTAGACCCAAACAGTGAGCAGTAGCAAGATTTAT...
...                       ...    ...          ...  ..    ...    ...      ...                                                ...
798059       4:44680358:NA:NA   chr4          CRE  15  7.444  5.344    6.585  CAGTAGTAAGAAAGAGACAATGCAAAGGAATTGGCACAGCACTCAG...
798060       18:9125893:NA:NA  chr18          CRE  15 -0.205 -0.157   -0.209  CAGTACTGCTGGCCCCAGAAAAGCCCCTCTCCTTATACCCTAGGCC...
798061      12:33905808:NA:NA  chr12          CRE  15  1.218  0.614    0.570  CAGTACCTTGTCCCCACTTCCCATTTGGCCTCTGGCAGAGGAGGAG...
798062      3:128145854:NA:NA   chr3          CRE  15 -0.222 -0.339   -0.818  CAGTACACCCCAGCTTCCAAAGGCCTTCTGTGACAAAGAGAGACTA...
798063       2:42731164:NA:NA   chr2          CRE  15  1.064  0.100    0.525  TTTTTTTTTTTTTTTTGAGATGGAGTTTCCCTCTTGTCACCCAGGC...

[798064 rows x 8 columns]

In [8]:
df.to_csv('../data/Gosai_MPRA/Gosai_MPRA.csv', index=False)

In [3]:
df['chr'] = 'chr' + df['chr'].astype(str)
df = df.rename(columns={
    'IDs': 'ID',
    'HepG2_log2FC': 'HepG2',
    'K562_log2FC': 'K562',
    'SKNSH_log2FC': 'SK-N-SH',
    'sequence': 'seq'})
df = df[['ID', 'chr', 'K562', 'HepG2', 'SK-N-SH', 'seq']]
df = df[(df['sequence'].str.len() == 200)]
df = df.reset_index(drop=True)
df

                           ID    chr  HepG2   K562  SK-N-SH                                                seq
0         7:70038969:G:T:A:wC   chr7  0.234  0.061    0.047  CCTGGTCTTTCTTGCTAAATAAACATATCGTGCATCATCCAGATCT...
1        1:192696196:C:T:A:wC   chr1  0.005  0.380   -0.244  CATAAAGATGAGGCTTGGCAAAGAACATCTCTCGGTGCCTCCCATT...
2        1:211209457:C:T:A:wC   chr1  0.385  0.037   -0.005  CATAAAGCCAATCACTGAGATGACAAGTACTGCCAGGAAAGAAGGC...
3       15:89574440:GT:G:R:wC  chr15  4.116  4.509    3.040  CATAAAGGCAGTGTAGACCCAAACAGTGAGCAGTAGCAAGATTTAT...
4        12:63513920:G:A:A:wC  chr12  1.423  1.617    1.336  CATAAAGGGCTGAACATGCTGTTGAAAAAATGTAGATATAAAAGTT...
...                       ...    ...    ...    ...      ...                                                ...
763679       4:44680358:NA:NA   chr4  5.344  7.444    6.585  CAGTAGTAAGAAAGAGACAATGCAAAGGAATTGGCACAGCACTCAG...
763680       18:9125893:NA:NA  chr18 -0.157 -0.205   -0.209  CAGTACTGCTGGCCCCAGAAAAGCCCCTCTCCTTATACCCTAGGCC...
763681      12:33905808:NA:NA  chr12  0.614  1.218    0.570  CAGTACCTTGTCCCCACTTCCCATTTGGCCTCTGGCAGAGGAGGAG...
763682      3:128145854:NA:NA   chr3 -0.339 -0.222   -0.818  CAGTACACCCCAGCTTCCAAAGGCCTTCTGTGACAAAGAGAGACTA...
763683       2:42731164:NA:NA   chr2  0.100  1.064    0.525  TTTTTTTTTTTTTTTTGAGATGGAGTTTCCCTCTTGTCACCCAGGC...

[763684 rows x 6 columns]

In [4]:
print([(df[['K562', 'HepG2', 'SK-N-SH']].isna().sum(axis=1) == i).sum() for i in range(5)])

[763684, 0, 0, 0, 0]

In [5]:
df[['1', 'pos', 'ref', 'alt', 'allele', '2']] = df['ID'].str.split(':', n=5, expand=True)
df = df.drop(columns=['1', '2'])
df['pos'] = df['pos'].astype(int)
df = df.sort_values(by=['chr', 'pos']).reset_index(drop=True)

df['ID'] = df[['chr', 'pos', 'ref', 'alt', 'allele']].astype(str).agg(':'.join, axis=1)
df

                              ID   chr  HepG2   K562  SK-N-SH                                                seq       pos ref alt allele
0               chr1:14677:G:A:A  chr1  0.416  0.515    0.419  AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...     14677   G   A      A
1               chr1:14677:G:A:R  chr1  0.668 -0.742    0.516  AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...     14677   G   A      R
2               chr1:63697:T:C:A  chr1  1.149 -0.735    0.209  CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...     63697   T   C      A
3               chr1:63697:T:C:R  chr1  1.279 -0.460    0.755  CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...     63697   T   C      R
4               chr1:64764:C:T:R  chr1 -0.238 -0.056    0.518  AATAGACTCTAGTACTCTGTATTATGCAAAATTTGTCTATGTTACA...     64764   C   T      R
...                          ...   ...    ...    ...      ...                                                ...       ...  ..  ..    ...
763679  chrY:15815629:NA:NA:None  chrY  1.845  1.381    1.702  CTGCATCTGTGCAGCCTGGCAGCGGCGGCGCTGCGCTGTGACATTT...  15815629  NA  NA   None
763680  chrY:21740684:NA:NA:None  chrY -0.108 -0.307   -0.080  GCACTTCACATTTGTTTTTAGGGTTACATAGTCTACTCTGTATCCT...  21740684  NA  NA   None
763681  chrY:21740884:NA:NA:None  chrY  0.260  0.364    0.060  TGTTCAAGTGGCCACAGGGTTACTTGCTTTAGCATGGCTCCTTGGC...  21740884  NA  NA   None
763682  chrY:21741084:NA:NA:None  chrY  0.377  0.395   -0.031  TAATTAGTTGGGAAGGTTCAGGTTCTGGGACATCCGTTGCTATTTC...  21741084  NA  NA   None
763683  chrY:21807029:NA:NA:None  chrY  1.504  0.892    1.302  AGCAAATATTGCAGAACAACAAATATTGCTGCTTGATCCTTCCTCT...  21807029  NA  NA   None

[763684 rows x 10 columns]

In [7]:
df.to_csv('../data/Gosai_MPRA/Gosai_MPRA_len200.csv', index=False)

In [16]:
df = pd.read_csv('41586_2024_8070_MOESM14_ESM.txt', delimiter='\t', low_memory=False)
df

                                             ID                                           sequence               origin target_cell  round  track_ID  K562_l2fc  HepG2_l2fc  SKNSH_l2fc  MinGap  K562_lfcSE  HepG2_lfcSE  SKNSH_lfcSE  K562_prediction  HepG2_prediction  SKNSH_prediction
0       20211207_63610__124703__1::sa__hepg2__0  TCGAAACAGGTATACCGCCAGCAATCCAATCTCTACCGGTGTACAC...  Simulated_Annealing       hepg2      0       NaN     -0.312       2.196      -0.918   2.508       0.173        0.284        0.348           -1.470             5.798            -1.390
1       20211207_63610__124703__4::sa__hepg2__0  GCTAAGGTCCTTATTGAATTTTGGTTAATCATTAACTACCCGTCAT...  Simulated_Annealing       hepg2      0       NaN     -1.110       0.881      -1.097   1.978       0.379        0.225        0.388           -0.946             5.258            -0.792
2       20211207_63610__124703__5::sa__hepg2__0  TGGTCCATTCCTGGGAATTTGCCGCCTGTACCTGCAAGGTTATACA...  Simulated_Annealing       hepg2      0       NaN     -0.545       2.169      -1.135   2.714       0.467        0.329        0.580           -1.018             5.672            -0.911
3      20211207_63610__124703__12::sa__hepg2__0  TCGGGAGATGTCAACACCTGTTGAGCTATTATGCCCTAGCCTGGTT...  Simulated_Annealing       hepg2      0       NaN     -0.770       2.043      -0.703   2.746       0.591        0.265        2.890           -1.060             5.069            -1.220
4      20211207_63610__124703__15::sa__hepg2__0  GACTTTGAACTCTGGACAGCAGAACAAATCACGGGAACCCTGTCAT...  Simulated_Annealing       hepg2      0       NaN     -0.654       2.037      -1.244   2.692       0.247        0.267        0.248           -0.843             6.011            -0.931
...                                         ...                                                ...                  ...         ...    ...       ...        ...         ...         ...     ...         ...          ...          ...              ...               ...               ...
77152                   ORF54316:2538:1300-1500  CTCGGAGTTCAAGAAAATCATCTCACACGGCCGTCTCAGACCCTTC...              control         NaN      0       NaN     -0.315       0.592       0.069     NaN       0.385        0.363        0.275           -0.159             1.282            -0.275
77153                     ORF53130:1455:400-600  GCAATCCTACCCAGACAGATGCAGACAGCGACCTGGTGGGGGATGT...              control         NaN      0       NaN     -0.135      -0.360      -0.022     NaN       0.178        0.261        0.200           -0.248            -0.645            -0.368
77154                   ORF55877:2391:1900-2100  CCTATGCTGCCTCCTATGCCCTTGTCATCATTGCCATTTTTGAGCT...              control         NaN      0       NaN      0.647       0.490       0.462     NaN       0.260        0.191        0.112            0.524             0.483             0.249
77155                     ORF52950:2193:400-600  AGCCACAACAAAACAGCCAGTTAATGTGGAAACAAGGTCGACAACT...              control         NaN      0       NaN     -0.062      -0.014       0.240     NaN       0.172        0.200        0.166            0.086             0.563             0.669
77156                   ORF54639:2928:1800-2000  GACCTCCAGGCATACGAGGACCCTGCACAGGGAGCCTTGGACTTTA...              control         NaN      0       NaN      0.108       0.307      -0.092     NaN       0.194        0.210        0.275           -0.012            -0.084            -0.257

[77157 rows x 16 columns]

In [17]:
# 只保留len=200的样本
df = df[(df['sequence'].str.len() == 200)]
df = df.reset_index(drop=True)
df

df = df.rename(columns={
    'IDs': 'IDs',
    'HepG2_l2fc': 'HepG2',
    'K562_l2fc': 'K562',
    'SKNSH_l2fc': 'SK-N-SH',
    'sequence': 'seq'})

df = df[['ID', 'origin', 'K562', 'HepG2', 'SK-N-SH', 'seq']]
df.to_csv('Gosai_MPRA_designed.csv', index=False)
df

                                             ID               origin  HepG2   K562  SK-N-SH                                                seq
0       20211207_63610__124703__1::sa__hepg2__0  Simulated_Annealing  2.196 -0.312   -0.918  TCGAAACAGGTATACCGCCAGCAATCCAATCTCTACCGGTGTACAC...
1       20211207_63610__124703__4::sa__hepg2__0  Simulated_Annealing  0.881 -1.110   -1.097  GCTAAGGTCCTTATTGAATTTTGGTTAATCATTAACTACCCGTCAT...
2       20211207_63610__124703__5::sa__hepg2__0  Simulated_Annealing  2.169 -0.545   -1.135  TGGTCCATTCCTGGGAATTTGCCGCCTGTACCTGCAAGGTTATACA...
3      20211207_63610__124703__12::sa__hepg2__0  Simulated_Annealing  2.043 -0.770   -0.703  TCGGGAGATGTCAACACCTGTTGAGCTATTATGCCCTAGCCTGGTT...
4      20211207_63610__124703__15::sa__hepg2__0  Simulated_Annealing  2.037 -0.654   -1.244  GACTTTGAACTCTGGACAGCAGAACAAATCACGGGAACCCTGTCAT...
...                                         ...                  ...    ...    ...      ...                                                ...
77149                   ORF54316:2538:1300-1500              control  0.592 -0.315    0.069  CTCGGAGTTCAAGAAAATCATCTCACACGGCCGTCTCAGACCCTTC...
77150                     ORF53130:1455:400-600              control -0.360 -0.135   -0.022  GCAATCCTACCCAGACAGATGCAGACAGCGACCTGGTGGGGGATGT...
77151                   ORF55877:2391:1900-2100              control  0.490  0.647    0.462  CCTATGCTGCCTCCTATGCCCTTGTCATCATTGCCATTTTTGAGCT...
77152                     ORF52950:2193:400-600              control -0.014 -0.062    0.240  AGCCACAACAAAACAGCCAGTTAATGTGGAAACAAGGTCGACAACT...
77153                   ORF54639:2928:1800-2000              control  0.307  0.108   -0.092  GACCTCCAGGCATACGAGGACCCTGCACAGGGAGCCTTGGACTTTA...

[77154 rows x 6 columns]