In [1]:
import numpy as np
import pandas as pd
from utils import *

In [3]:
metadata = pd.read_csv('AlphaGenome_metadata.csv')
metadata

,name,strand,Assay title,ontology_curie,biosample_name,biosample_type,biosample_life_stage,data_source,endedness,genetically_modified,output_type,gtex_tissue,histone_mark,transcription_factor
0,CL:0000084 ATAC-seq,.,ATAC-seq,CL:0000084,T-cell,primary_cell,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN
1,CL:0000100 ATAC-seq,.,ATAC-seq,CL:0000100,motor neuron,in_vitro_differentiated_cells,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN
2,CL:0000236 ATAC-seq,.,ATAC-seq,CL:0000236,B cell,primary_cell,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN
3,CL:0000623 ATAC-seq,.,ATAC-seq,CL:0000623,natural killer cell,primary_cell,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN
4,CL:0000624 ATAC-seq,.,ATAC-seq,CL:0000624,"CD4-positive, alpha-beta T cell",primary_cell,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5558,ENCSR182QNJ,-,PRO-cap,EFO:0001099,Caco-2,cell_line,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN
5559,ENCSR740IPL,-,PRO-cap,EFO:0002067,K562,cell_line,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN
5560,ENCSR797DEF,-,PRO-cap,EFO:0002819,Calu3,cell_line,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN
5561,ENCSR801ECP,-,PRO-cap,CL:0002618,endothelial cell of umbilical vein,primary_cell,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN
5562,ENCSR860TYZ,-,PRO-cap,EFO:0001200,MCF 10A,cell_line,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN

In [4]:
metadata['Assay title'].value_counts()

Assay title
TF ChIP-seq           1617
Histone ChIP-seq      1116
total RNA-seq          784
polyA plus RNA-seq     617
hCAGE                  516
DNase-seq              305
ATAC-seq               167
LQhCAGE                 30
in situ Hi-C            24
PRO-cap                 12
Micro-C                  3
Dilution Hi-C            1
Name: count, dtype: int64

In [6]:
metadata['cell_type'] = metadata['biosample_name']
metadata['assay'] = pd.NA

mask = (metadata['Assay title'] == 'ATAC-seq')
metadata.loc[mask, 'assay'] = 'ATAC'
mask = (metadata['Assay title'] == 'DNase-seq')
metadata.loc[mask, 'assay'] = 'DNase'
mask = (metadata['Assay title'] == 'total RNA-seq')
metadata.loc[mask, 'assay'] = 'RNA-seq'
mask = (metadata['Assay title'] == 'hCAGE')
metadata.loc[mask, 'assay'] = 'CAGE'
mask = (metadata['Assay title'] == 'TF ChIP-seq')
metadata.loc[mask, 'assay'] = metadata.loc[mask, 'transcription_factor']
mask = (metadata['Assay title'] == 'Histone ChIP-seq')
metadata.loc[mask, 'assay'] = metadata.loc[mask, 'histone_mark']

metadata['index'] = metadata.index

In [7]:
metadata = metadata[metadata['genetically_modified'] == False]
metadata

,name,strand,Assay title,ontology_curie,biosample_name,biosample_type,biosample_life_stage,data_source,endedness,genetically_modified,output_type,gtex_tissue,histone_mark,transcription_factor,cell_type,assay,index
0,CL:0000084 ATAC-seq,.,ATAC-seq,CL:0000084,T-cell,primary_cell,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN,T-cell,ATAC,0
1,CL:0000100 ATAC-seq,.,ATAC-seq,CL:0000100,motor neuron,in_vitro_differentiated_cells,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN,motor neuron,ATAC,1
2,CL:0000236 ATAC-seq,.,ATAC-seq,CL:0000236,B cell,primary_cell,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN,B cell,ATAC,2
3,CL:0000623 ATAC-seq,.,ATAC-seq,CL:0000623,natural killer cell,primary_cell,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN,natural killer cell,ATAC,3
4,CL:0000624 ATAC-seq,.,ATAC-seq,CL:0000624,"CD4-positive, alpha-beta T cell",primary_cell,adult,encode,paired,False,OutputType.ATAC,NaN,NaN,NaN,"CD4-positive, alpha-beta T cell",ATAC,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5558,ENCSR182QNJ,-,PRO-cap,EFO:0001099,Caco-2,cell_line,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN,Caco-2,<NA>,5558
5559,ENCSR740IPL,-,PRO-cap,EFO:0002067,K562,cell_line,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN,K562,<NA>,5559
5560,ENCSR797DEF,-,PRO-cap,EFO:0002819,Calu3,cell_line,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN,Calu3,<NA>,5560
5561,ENCSR801ECP,-,PRO-cap,CL:0002618,endothelial cell of umbilical vein,primary_cell,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN,endothelial cell of umbilical vein,<NA>,5561
5562,ENCSR860TYZ,-,PRO-cap,EFO:0001200,MCF 10A,cell_line,NaN,encode,NaN,False,OutputType.PROCAP,NaN,NaN,NaN,MCF 10A,<NA>,5562

In [8]:
df_pivot = metadata.pivot_table(
    values="index", 
    index="cell_type", 
    columns="assay", 
    aggfunc=list,
)

df_pivot

assay,AFF1,AGO1,AGO2,ARID1B,ARID3A,ARNT,ASH1L,ASH2L,ATAC,ATF1,...,ZNF318,ZNF384,ZNF407,ZNF444,ZNF574,ZNF579,ZNF592,ZNF639,ZNF687,ZSCAN29
cell_type,,,,,,,,,,,,,,,,,,,,,
22Rv1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[55],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
urothelium cell line,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uterine smooth muscle cell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uterus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[127],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vagina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vein endothelial cell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_pivot.to_csv('AlphaGenome_pivot_table.csv')

In [9]:
assays = ['DNase', 'H3K4me3', 'H3K27ac', 'CTCF']

df = df_pivot.dropna(subset=assays)
df = df[assays]
print(df.to_string())

assay                                  DNase H3K4me3 H3K27ac    CTCF
cell_type
A549                                   [820]  [2016]  [2013]  [2870]
A673                                   [835]  [2098]  [2096]  [3951]
AG04450                                [897]  [2274]  [2272]  [4260]
B cell                                 [724]  [1782]  [1777]  [2810]
CD14-positive monocyte                 [756]  [1886]  [1881]  [2826]
CD4-positive, alpha-beta T cell        [731]  [1835]  [1831]  [2815]
CD8-positive, alpha-beta T cell        [732]  [1841]  [1837]  [2816]
DND-41                                 [900]  [2309]  [2305]  [4265]
GM12878                                [850]  [2135]  [2131]  [3981]
GM23338                                [909]  [2390]  [2385]  [4270]
H1                                     [863]  [2183]  [2178]  [4161]
HCT116                                 [859]  [2155]  [2150]  [4128]
HL-60                                  [856]  [2148]  [2147]  [4117]
HeLa-S3                                [855]  [2144]  [2139]  [4081]
HepG2                                  [822]  [2028]  [2023]  [3065]
IMR-90                                 [824]  [2049]  [2043]  [3558]
K562                                   [831]  [2082]  [2077]  [3689]
MCF-7                                  [826]  [2064]  [2060]  [3577]
MM.1S                                  [890]  [2254]  [2250]  [4255]
OCI-LY7                                [899]  [2295]  [2291]  [4264]
PC-3                                   [832]  [2092]  [2087]  [3949]
PC-9                                   [860]  [2164]  [2160]  [4151]
Panc1                                  [847]  [2124]  [2121]  [3955]
Peyer's patch                          [947]  [2537]  [2534]  [4343]
RWPE2                                  [905]  [2382]  [2380]  [4267]
SK-N-SH                                [866]  [2201]  [2196]  [4194]
WERI-Rb-1                              [884]  [2224]  [2221]  [4237]
adrenal gland                          [985]  [2678]  [2674]  [4386]
ascending aorta                        [953]  [2561]  [2558]  [4350]
astrocyte                              [716]  [1720]  [1715]  [2803]
body of pancreas                       [944]  [2519]  [2517]  [4333]
brain microvascular endothelial cell   [805]  [2000]  [1998]  [2863]
breast epithelium                     [1000]  [2747]  [2744]  [4402]
cardiac muscle cell                    [737]  [1849]  [1845]  [2823]
colonic mucosa                         [929]  [2458]  [2454]  [4318]
coronary artery                        [956]  [2568]  [2567]  [4352]
dorsolateral prefrontal cortex        [1005]  [2768]  [2764]  [4411]
endodermal cell                        [723]  [1774]  [1770]  [2809]
endothelial cell of umbilical vein     [786]  [1966]  [1961]  [2848]
fibroblast of dermis                   [773]  [1943]  [1939]  [2841]
fibroblast of lung                     [775]  [1951]  [1947]  [2842]
foreskin fibroblast                    [797]  [1989]  [1985]  [2862]
foreskin keratinocyte                  [796]  [1982]  [1978]  [2861]
gastrocnemius medialis                [1007]  [2774]  [2770]  [4413]
heart left ventricle                   [970]  [2621]  [2617]  [4357]
heart right ventricle                  [969]  [2615]  [2611]  [4356]
keratinocyte                           [725]  [1791]  [1787]  [2811]
left lung                              [978]  [2650]  [2646]  [4380]
left ventricle myocardium inferior     [917]  [2412]  [2408]  [4315]
liver                                  [973]  [2632]  [2629]  [4363]
lower lobe of left lung               [1003]  [2762]  [2758]  [4410]
lower lobe of right lung               [980]  [2660]  [2656]  [4382]
mammary epithelial cell                [764]  [1920]  [1915]  [2834]
natural killer cell                    [730]  [1829]  [1826]  [2814]
neural progenitor cell                 [790]  [1975]  [1971]  [2858]
ovary                                  [939]  [2492]  [2488]  [4324]
pancreas                               [949]  [2544]  [2541]  [4345]
placenta                               [963]  [2589]  [2585]  [4353]
prostate gland                         [984]  [2673]  [2671]  [4383]
psoas muscle                          [1001]  [2753]  [2749]  [4405]
right atrium auricular region          [998]  [2729]  [2726]  [4398]
right lobe of liver                    [942]  [2510]  [2507]  [4331]
sigmoid colon                          [946]  [2529]  [2525]  [4339]
skeletal muscle myoblast               [727]  [1812]  [1809]  [2813]
spleen                                 [972]  [2627]  [2623]  [4359]
stomach                                [931]  [2474]  [2470]  [4320]
suprapubic skin                       [1013]  [2800]  [2796]  [4415]
testis                                 [930]  [2469]  [2467]  [4319]
thoracic aorta                         [955]  [2566]  [2563]  [4351]
thyroid gland                          [965]  [2600]  [2597]  [4354]
tibial artery                          [999]  [2742]  [2738]  [4401]
tibial nerve                           [951]  [2550]  [2546]  [4347]
transverse colon                       [945]  [2524]  [2520]  [4335]
upper lobe of left lung               [1002]  [2757]  [2754]  [4406]
upper lobe of right lung               [979]  [2655]  [2652]  [4381]
uterus                                 [940]  [2495]  [2494]  [4326]

In [10]:
df.to_csv('AlphaGenome_4_tracks_table.csv')

In [12]:
df_pivot = pd.read_csv('AlphaGenome_pivot_table.csv', index_col=0)
df_pivot

,AFF1,AGO1,AGO2,ARID1B,ARID3A,ARNT,ASH1L,ASH2L,ATAC,ATF1,...,ZNF318,ZNF384,ZNF407,ZNF444,ZNF574,ZNF579,ZNF592,ZNF639,ZNF687,ZSCAN29
cell_type,,,,,,,,,,,,,,,,,,,,,
22Rv1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[55],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
urothelium cell line,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uterine smooth muscle cell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uterus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[127],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vagina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vein endothelial cell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
cell_types = ['HepG2', 'K562', 'GM12878', 'MCF-7', 'H1', 'HeLa-S3', 'IMR-90', 'SK-N-SH', 'HCT116', 'A549', 'B cell', 'GM23338', 'CD4-positive, alpha-beta T cell', 'HL-60', 'PC-3', 'Panc1']
assays = ['DNase', 'H3K4me3', 'H3K27ac', 'CTCF']
df_pivot.loc[cell_types, assays]

                                 DNase H3K4me3 H3K27ac    CTCF
cell_type
HepG2                            [822]  [2028]  [2023]  [3065]
K562                             [831]  [2082]  [2077]  [3689]
GM12878                          [850]  [2135]  [2131]  [3981]
MCF-7                            [826]  [2064]  [2060]  [3577]
H1                               [863]  [2183]  [2178]  [4161]
HeLa-S3                          [855]  [2144]  [2139]  [4081]
IMR-90                           [824]  [2049]  [2043]  [3558]
SK-N-SH                          [866]  [2201]  [2196]  [4194]
HCT116                           [859]  [2155]  [2150]  [4128]
A549                             [820]  [2016]  [2013]  [2870]
B cell                           [724]  [1782]  [1777]  [2810]
GM23338                          [909]  [2390]  [2385]  [4270]
CD4-positive, alpha-beta T cell  [731]  [1835]  [1831]  [2815]
HL-60                            [856]  [2148]  [2147]  [4117]
PC-3                             [832]  [2092]  [2087]  [3949]
Panc1                            [847]  [2124]  [2121]  [3955]

In [39]:
cell_types = ['HepG2', 'K562', 'GM12878', 'MCF-7', 'H1', 'HeLa-S3', 'IMR-90', 'SK-N-SH', 'HCT116', 'A549']
df_pivot.loc[cell_types, assays]

           DNase H3K4me3 H3K27ac    CTCF
cell_type
HepG2      [822]  [2028]  [2023]  [3065]
K562       [831]  [2082]  [2077]  [3689]
GM12878    [850]  [2135]  [2131]  [3981]
MCF-7      [826]  [2064]  [2060]  [3577]
H1         [863]  [2183]  [2178]  [4161]
HeLa-S3    [855]  [2144]  [2139]  [4081]
IMR-90     [824]  [2049]  [2043]  [3558]
SK-N-SH    [866]  [2201]  [2196]  [4194]
HCT116     [859]  [2155]  [2150]  [4128]
A549       [820]  [2016]  [2013]  [2870]

In [41]:
df_pivot.loc[cell_types, assays].to_csv('AlphaGenome_selected_tracks.csv')

In [27]:
########## Enformer

Enformer_metadata_df = pd.read_excel('../data/Enformer/41592_2021_1252_MOESM3_ESM.xlsx', sheet_name='Supplementary Table 2')
Enformer_metadata_df

,index,genome,identifier,file,clip,scale,sum_stat,description,assay_type,target,...,CAGE: ZFAND3,"CAGE: HNF4A,MSMB,TERT-HEK293T,MYCrs6983267","CAGE: GP1BB,HBB,HBG1,PKLR","CAGE: F9,LDLR,SORT1",DNASE: IRF4,DNASE: IRF6,DNASE: ZFAND3,"DNASE: HNF4A,MSMB,TERT-HEK293T,MYCrs6983267","DNASE: GP1BB,HBB,HBG1,PKLR","DNASE: F9,LDLR,SORT1"
0,0,0,ENCFF833POA,/home/drk/tillage/datasets/human/dnase/encode/...,32,2,mean,DNASE:cerebellum male adult (27 years) and mal...,DNASE,DNase/cerebellum male adult (27 years) and mal...,...,False,False,False,False,False,False,False,False,False,False
1,1,0,ENCFF110QGM,/home/drk/tillage/datasets/human/dnase/encode/...,32,2,mean,DNASE:frontal cortex male adult (27 years) and...,DNASE,DNase/frontal cortex male adult (27 years) and...,...,False,False,False,False,False,False,False,False,False,False
2,2,0,ENCFF880MKD,/home/drk/tillage/datasets/human/dnase/encode/...,32,2,mean,DNASE:chorion,DNASE,DNase/chorion,...,False,False,False,False,False,False,False,False,False,False
3,3,0,ENCFF463ZLQ,/home/drk/tillage/datasets/human/dnase/encode/...,32,2,mean,DNASE:Ishikawa treated with 0.02% dimethyl sul...,DNASE,DNase/Ishikawa treated with 0.02% dimethyl sul...,...,False,False,False,False,False,False,False,False,False,False
4,4,0,ENCFF890OGQ,/home/drk/tillage/datasets/human/dnase/encode/...,32,2,mean,DNASE:GM03348,DNASE,DNase/GM03348,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5308,5308,0,CNhs14239,/home/drk/tillage/datasets/human/cage/fantom/C...,384,1,sum,CAGE:epithelioid sarcoma cell line:HS-ES-2R,CAGE,CAGE/epithelioid sarcoma cell line:HS-ES-2R,...,False,False,False,False,False,False,False,False,False,False
5309,5309,0,CNhs14240,/home/drk/tillage/datasets/human/cage/fantom/C...,384,1,sum,CAGE:squamous cell lung carcinoma cell line:RE...,CAGE,CAGE/squamous cell lung carcinoma cell line:RE...,...,False,False,False,False,False,False,False,False,False,False
5310,5310,0,CNhs14241,/home/drk/tillage/datasets/human/cage/fantom/C...,384,1,sum,CAGE:gastric cancer cell line:GSS,CAGE,CAGE/gastric cancer cell line:GSS,...,False,False,False,False,False,False,False,False,False,False
5311,5311,0,CNhs14244,/home/drk/tillage/datasets/human/cage/fantom/C...,384,1,sum,CAGE:carcinoid cell line:NCI-H727,CAGE,CAGE/carcinoid cell line:NCI-H727,...,False,False,False,False,False,False,False,False,False,False
5312,5312,0,CNhs14245,/home/drk/tillage/datasets/human/cage/fantom/C...,384,1,sum,"CAGE:lung adenocarcinoma, papillary cell line:...",CAGE,"CAGE/lung adenocarcinoma, papillary cell line:...",...,False,False,False,False,False,False,False,False,False,False

In [28]:
Enformer_metadata_df[['assay', 'cell_type']] = Enformer_metadata_df['target'].str.split('/', n=1, expand=True)
Enformer_metadata_df['assay'] = Enformer_metadata_df['assay'].str.replace('ChIP-Histone:', '').str.replace('ChIP-TF:', '')
Enformer_metadata_df = Enformer_metadata_df[['cell_type', 'assay']].copy()
Enformer_metadata_df

                                              cell_type  assay
0     cerebellum male adult (27 years) and male adul...  DNase
1     frontal cortex male adult (27 years) and male ...  DNase
2                                               chorion  DNase
3     Ishikawa treated with 0.02% dimethyl sulfoxide...  DNase
4                                               GM03348  DNase
...                                                 ...    ...
5308             epithelioid sarcoma cell line:HS-ES-2R   CAGE
5309  squamous cell lung carcinoma cell line:RERF-LC-AI   CAGE
5310                       gastric cancer cell line:GSS   CAGE
5311                       carcinoid cell line:NCI-H727   CAGE
5312  lung adenocarcinoma, papillary cell line:NCI-H441   CAGE

[5313 rows x 2 columns]

In [16]:
df = pd.read_csv('../data/Sei/Sei_tracks_info.csv')
df_pivot = df.pivot_table(
    values="index", 
    index="cell_type", 
    columns="assay", 
    aggfunc=list,
)
df_pivot

assay,ADNP,AEBP2,AFF1,AFF4,AGO1,AGO2,AHR,AHRR,AP-2alpha,AP-2gamma,...,Znf143,c-Fos,c-Jun,c-Myc,eGFP-FOS,eGFP-GATA2,eGFP-HDAC8,eGFP-JunB,eGFP-JunD,p300
cell_type,,,,,,,,,,,,,,,,,,,,,
1015c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1184_Stem_cell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133_Astrocyte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143B_Osteosarcoma_cell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
inferior_parietal_cortex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pHTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
superior_temporal_gyrus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
t(3;21)_paitent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vu1199-F_SV43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
cell_types = ['HL-60_Leukemia_Cell', 'PC-3_Epithelium_Prostate', 'PANC-1_Pancreatic_ductal']
df_pivot.loc[cell_types, assays]

assay,DNase,H3K4me3,H3K27ac,CTCF
cell_type,,,,
HL-60_Leukemia_Cell,"[4583, 4584, 21076]","[4856, 16199, 16200, 16201, 18476, 19745]","[13444, 18474]","[5349, 21075]"
PC-3_Epithelium_Prostate,NaN,"[4273, 6570, 11168, 11169]","[6567, 12088, 12090]",[6572]
PANC-1_Pancreatic_ductal,"[4665, 4666, 21657]","[5054, 13614]","[5053, 10553, 13230, 13232, 13233, 13234]","[9862, 9863, 9864, 9865]"

In [12]:
assays = ['DNase', 'H3K4me3', 'H3K27ac', 'CTCF', 'RNA-seq', 'CAGE', 'ATAC']
cell_types = ['K562', 'HepG2', 'SK-N-SH', 'HCT116', 'A549', 'HEK293', 'HEK293T', 'Jurkat', 'Jurkat, Clone E6-1']

df_pivot = df_pivot.loc[cell_types, assays]
df_pivot

assay,DNase,H3K4me3,H3K27ac,CTCF,RNA-seq,CAGE,ATAC
cell_type,,,,,,,
K562,[831],[2082],[2077],[3689],"[1138, 1409, 4562, 4929]","[317, 590]",[60]
HepG2,[822],[2028],[2023],"[3065, 3066]","[1128, 1399, 4551, 4918]","[314, 587]",[56]
SK-N-SH,[866],[2201],[2196],[4194],NaN,NaN,NaN
HCT116,[859],[2155],[2150],"[4128, 4129, 4130, 4131, 4132, 4133, 4134, 413...","[1154, 1425, 4582, 4949]",NaN,[64]
A549,[820],[2016],[2013],[2870],NaN,"[311, 584]",[55]
HEK293,NaN,[2022],NaN,"[2909, 2910]",NaN,"[313, 586]",NaN
HEK293T,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jurkat,NaN,NaN,NaN,NaN,NaN,"[326, 599]",NaN
"Jurkat, Clone E6-1",[808],[2008],NaN,NaN,NaN,NaN,NaN

In [9]:
import sys
sys.path.append("..")
from MPRA_predict.utils import *

ModuleNotFoundError: No module named 'torch'

In [ ]:
pred_dnase = load_h5('Gosai_AlphaGenome_DNase.h5')
print(pred_dnase.shape)

pred_histone = load_h5('Gosai_AlphaGenome_histone.h5')
print(pred_histone.shape)

MPRA_df = pd.read_csv('../data/Gosai_MPRA/Gosai_MPRA_my_processed_data_len200_norm.csv')
print(MPRA_df.shape)

(760679, 305)
(760679, 1116)
(760679, 14)

In [ ]:
for i, cell_type in enumerate(cell_types):
    for j, assay in enumerate(assays):
        indice = df_pivot.loc[cell_type, assay]

        if assay == 'DNase':
            indice = [i-713 for i in indice]
            pred_array = pred_dnase
        elif assay in ['H3K4me3', 'H3K27ac']:
            indice = [i-1685 for i in indice]
            pred_array = pred_histone
        elif assay == 'ATAC':
            MPRA_df[f'{cell_type}_{assay}'] = np.nan
            continue
        elif assay == 'CTCF':
            MPRA_df[f'{cell_type}_{assay}'] = np.nan
            continue

        if isinstance(indice, list) and len(indice) > 0:
            # for idx in indice:
            #     pred = logit(pred_array[:, idx])
            #     true = MPRA_df[cell_type]
            #     r, _ = pearson(pred, true)
            #     print(cell_type, assay, idx, r)
            pred = pred_array[:, indice].mean(1)
            MPRA_df[f'{cell_type}_{assay}'] = pred
        else:
            MPRA_df[f'{cell_type}_{assay}'] = np.nan

MPRA_df

                                                      seq                ID   chr       pos ref_allele alt_allele allele       OL data_project   K562  HepG2  SK-N-SH  A549  HCT116  K562_DNase  K562_H3K4me3  K562_H3K27ac  K562_CTCF  HepG2_DNase  HepG2_H3K4me3  HepG2_H3K27ac  HepG2_CTCF  SK-N-SH_DNase  SK-N-SH_H3K4me3  SK-N-SH_H3K27ac  SK-N-SH_CTCF  HCT116_DNase  HCT116_H3K4me3  HCT116_H3K27ac  HCT116_CTCF  A549_DNase  A549_H3K4me3  A549_H3K27ac  A549_CTCF
0       AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...  1:14677:G:A:A:wC  chr1     14677          G          A    alt  OL41_42         GTEx  0.014 -0.054    0.012   NaN  -0.709       0.027         9.594         5.484        NaN        0.024          5.500          4.406         NaN          0.025            3.938            1.469           NaN         0.027           7.000          13.312          NaN       0.016         7.750         5.016        NaN
1       AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...  1:14677:G:A:R:wC  chr1     14677          G          A    ref  OL41_42         GTEx -1.042  0.183    0.094   NaN  -0.266       0.030        10.188         5.922        NaN        0.026          5.844          4.781         NaN          0.030            4.297            1.617           NaN         0.029           7.594          14.781          NaN       0.018         8.312         5.422        NaN
2       CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...  1:63697:T:C:A:wC  chr1     63697          T          C    alt  OL41_42         GTEx -1.004  0.640   -0.188   NaN   0.619       0.018         4.844         5.656        NaN        0.023          6.531          4.406         NaN          0.004            5.938            3.734           NaN         0.024           6.812           6.422          NaN       0.010         7.516         5.203        NaN
3       CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...  1:63697:T:C:R:wC  chr1     63697          T          C    ref  OL41_42         GTEx -0.779  0.751    0.274   NaN   0.668       0.018         4.906         5.734        NaN        0.022          6.312          4.469         NaN          0.004            6.297            4.086           NaN         0.024           6.812           6.594          NaN       0.010         8.125         6.031        NaN
4       AATAGACTCTAGTACTCTGTATTATGCAAAATTTGTCTATGTTACA...  1:64764:C:T:R:wC  chr1     64764          C          T    ref  OL41_42         GTEx -0.457 -0.645    0.061   NaN  -0.168       0.006         2.500         3.656        NaN        0.013          4.344          3.344         NaN          0.004            3.797            2.203           NaN         0.014           4.062           4.906          NaN       0.008         5.125         2.258        NaN
...                                                   ...               ...   ...       ...        ...        ...    ...      ...          ...    ...    ...      ...   ...     ...         ...           ...           ...        ...          ...            ...            ...         ...            ...              ...              ...           ...           ...             ...             ...          ...         ...           ...           ...        ...
760674  CTGCATCTGTGCAGCCTGGCAGCGGCGGCGCTGCGCTGTGACATTT...  Y:15815629:NA:NA  chrY  15815629        NaN        NaN    NaN     OL15         OL15  0.708  1.294    1.077   NaN     NaN       0.164        31.250        16.469        NaN        0.081         17.312         12.406         NaN          0.058           15.219            7.656           NaN         0.116          24.938          41.375          NaN       0.042        22.625        12.812        NaN
760675  GCACTTCACATTTGTTTTTAGGGTTACATAGTCTACTCTGTATCCT...  Y:21740684:NA:NA  chrY  21740684        NaN        NaN    NaN     OL15         OL15 -0.708 -0.547   -0.429   NaN     NaN       0.014         3.094         4.305        NaN        0.012          3.359          2.844         NaN          0.005            2.320            1.188           NaN         0.015           3.336           5.016          NaN       0.007         4.141         2.234        NaN
760676  TGTTCAAGTGGCCACAGGGTTACTTGCTTTAGCATGGCTCCTTGGC...  Y:21740884:NA:NA  chrY  21740884        NaN        NaN    NaN     OL15         OL15 -0.146 -0.200   -0.310   NaN     NaN       0.021         4.062         5.656        NaN        0.026          5.062          4.344         NaN          0.006            3.742            2.906           NaN         0.032           5.812          13.531          NaN       0.014         9.969        18.500        NaN
760677  TAATTAGTTGGGAAGGTTCAGGTTCTGGGACATCCGTTGCTATTTC...  Y:21741084:NA:NA  chrY  21741084        NaN        NaN    NaN     OL15         OL15 -0.119 -0.090   -0.387   NaN     NaN       0.015         3.773         4.703        NaN        0.015          4.023          3.336         NaN          0.005            2.961            1.773           NaN         0.020           4.391           6.031          NaN       0.007         4.609         2.328        NaN
760678  AGCAAATATTGCAGAACAACAAATATTGCTGCTTGATCCTTCCTCT...  Y:21807029:NA:NA  chrY  21807029        NaN        NaN    NaN     OL15         OL15  0.298  0.973    0.739   NaN     NaN       0.012         3.273         3.547        NaN        0.016          3.281          4.109         NaN          0.003            1.973            1.039           NaN         0.010           2.602           5.656          NaN       0.004         3.531         2.906        NaN

[760679 rows x 34 columns]

In [ ]:
MPRA_df.to_csv('../data/Gosai_MPRA/Gosai_MPRA_seq_feature_alphagenome_raw.csv', index=False)