In [1]:
import sys
sys.path.append('..')
from MPRA_exp.utils import *
os.chdir('../../data/AgarwalMPRA')

In [2]:
table_s3 = pd.ExcelFile('supp_materials/media-3.xlsx')
print(table_s3.sheet_names)
table_s4 = pd.ExcelFile('supp_materials/media-4.xlsx')
print(table_s4.sheet_names)

['HepG2 large-scale', 'K562 large-scale', 'WTC11 large-scale']
['HepG2_replicate_level', 'HepG2_summary_data', 'HepG2_forward_reverse', 'K562_replicate_level', 'K562_summary_data', 'K562_forward_reverse', 'WTC11_replicate_level', 'WTC11_summary_data', 'WTC11_forward_reverse']

In [3]:
df_large_scale = pd.read_excel('supp_materials/media-3.xlsx', header=3, sheet_name='HepG2 large-scale')
df_large_scale

,name,category,chr.hg19,start.hg19,stop.hg19,str.hg19,chr.hg38,start.hg38,stop.hg38,str.hg38,230nt sequence (15nt 5' adaptor - 200nt element - 15nt 3' adaptor)
0,DNasePeakNoPromoter1,putative enhancer,chr1,10410.0,10610.0,+,chr1,10410.0,10610.0,+,AGGACCGGATCAACTCCTAACCCTAACCCTAACCCTAACCCTAACC...
1,DNasePeakNoPromoter1_Reversed:,putative enhancer,chr1,10410.0,10610.0,-,chr1,10410.0,10610.0,-,AGGACCGGATCAACTCGTTCTCCTCAGCACAGACCCGGAGAGCACC...
2,DNasePeakNoPromoter10,putative enhancer,chr1,941910.0,942110.0,+,chr1,1006530.0,1006730.0,+,AGGACCGGATCAACTTGTTTCTTAGGAAAGGCGGCCAACCCAGGGT...
3,DNasePeakNoPromoter10_Reversed:,putative enhancer,chr1,941910.0,942110.0,-,chr1,1006530.0,1006730.0,-,AGGACCGGATCAACTGGTTAGAGCTCAAAGGTCACTCCGATGACAC...
4,DNasePeakNoPromoter100,putative enhancer,chr1,3135950.0,3136150.0,+,chr1,3219386.0,3219586.0,+,AGGACCGGATCAACTATTACTCACACAAGACACACATTGTCTGCCG...
...,...,...,...,...,...,...,...,...,...,...,...
164302,UWpeak94840_Reversed:_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTTGTGAAGGGTGCAAAGGCAGAACAGGTAGAG...
164303,UWpeak95225_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTTAGTCATAACTTTATCACAGCACACAGACTA...
164304,UWpeak95225_Reversed:_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTCTGATGTGCCAATGACATGCAACTTGTCTAA...
164305,UWpeak9963_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTAGGAATTCTGCCCCTCTAAGAAGAGTTCCAA...
164306,UWpeak9963_Reversed:_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTCGCTCTGTCCACCTGAGTGGTCTGTTACTTT...

In [4]:
df_summary_data = pd.read_excel('supp_materials/media-4.xlsx', sheet_name='HepG2_summary_data')
df_summary_data

,name,replicate 1 [log2(rna/dna)],replicate 2 [log2(rna/dna)],replicate 3 [log2(rna/dna)],mean
0,DNasePeakNoPromoter37009,-0.382,-0.717,-0.816,-0.638
1,DNasePeakNoPromoter48063,-0.562,-0.421,-0.628,-0.537
2,DNasePeakNoPromoter48864_Reversed:,-0.922,-1.122,-1.023,-1.022
3,DNasePeakNoPromoter47281_Reversed:,-0.699,-0.742,-0.754,-0.732
4,DNasePeakNoPromoter51319,-1.051,-0.931,-0.933,-0.972
...,...,...,...,...,...
139880,DNasePeakNoPromoter11251,NaN,-1.226,NaN,-1.226
139881,DNasePeakNoPromoter65003_Reversed:,NaN,-0.561,NaN,-0.561
139882,DNasePeakNoPromoter50457,NaN,-1.649,NaN,-1.649
139883,ENSG00000165457,NaN,-0.497,NaN,-0.497
139884,DNasePeakNoPromoter13175_Reversed:,NaN,-0.116,NaN,-0.116

In [5]:
df_HepG2 = pd.merge(df_large_scale, df_summary_data, on='name', how='inner')
df_HepG2

,name,category,chr.hg19,start.hg19,stop.hg19,str.hg19,chr.hg38,start.hg38,stop.hg38,str.hg38,230nt sequence (15nt 5' adaptor - 200nt element - 15nt 3' adaptor),replicate 1 [log2(rna/dna)],replicate 2 [log2(rna/dna)],replicate 3 [log2(rna/dna)],mean
0,DNasePeakNoPromoter1,putative enhancer,chr1,10410.0,10610.0,+,chr1,10410.0,10610.0,+,AGGACCGGATCAACTCCTAACCCTAACCCTAACCCTAACCCTAACC...,-0.579,-0.827,-0.619,-0.675
1,DNasePeakNoPromoter1_Reversed:,putative enhancer,chr1,10410.0,10610.0,-,chr1,10410.0,10610.0,-,AGGACCGGATCAACTCGTTCTCCTCAGCACAGACCCGGAGAGCACC...,0.302,-0.537,-0.588,-0.274
2,DNasePeakNoPromoter10,putative enhancer,chr1,941910.0,942110.0,+,chr1,1006530.0,1006730.0,+,AGGACCGGATCAACTTGTTTCTTAGGAAAGGCGGCCAACCCAGGGT...,0.923,1.036,0.765,0.908
3,DNasePeakNoPromoter10_Reversed:,putative enhancer,chr1,941910.0,942110.0,-,chr1,1006530.0,1006730.0,-,AGGACCGGATCAACTGGTTAGAGCTCAAAGGTCACTCCGATGACAC...,0.424,0.277,0.126,0.276
4,DNasePeakNoPromoter100,putative enhancer,chr1,3135950.0,3136150.0,+,chr1,3219386.0,3219586.0,+,AGGACCGGATCAACTATTACTCACACAAGACACACATTGTCTGCCG...,1.064,1.484,1.336,1.295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139872,UWpeak94840_Reversed:_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTTGTGAAGGGTGCAAAGGCAGAACAGGTAGAG...,-1.137,-0.772,-0.706,-0.872
139873,UWpeak95225_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTTAGTCATAACTTTATCACAGCACACAGACTA...,-0.778,-1.021,-0.327,-0.709
139874,UWpeak95225_Reversed:_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTCTGATGTGCCAATGACATGCAACTTGTCTAA...,-0.335,-0.661,-0.501,-0.499
139875,UWpeak9963_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTAGGAATTCTGCCCCTCTAAGAAGAGTTCCAA...,-0.010,-0.479,-0.184,-0.224
139876,UWpeak9963_Reversed:_0,"negative, shuffled",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGGACCGGATCAACTCGCTCTGTCCACCTGAGTGGTCTGTTACTTT...,-1.297,-1.604,-1.613,-1.505

In [6]:
df_HepG2 = df_HepG2.rename(columns={'230nt sequence (15nt 5\' adaptor - 200nt element - 15nt 3\' adaptor)': 'seq',
                                    'mean': 'exp',
                                    'chr.hg38': 'chr',
                                    'start.hg38':'start',
                                    'stop.hg38': 'end',
                                    'str.hg38': 'strand'})
df_HepG2 = df_HepG2[['seq', 'exp', 'chr', 'start', 'end', 'strand']]
df_HepG2

,seq,exp,chr,start,end,strand
0,AGGACCGGATCAACTCCTAACCCTAACCCTAACCCTAACCCTAACC...,-0.675,chr1,10410.0,10610.0,+
1,AGGACCGGATCAACTCGTTCTCCTCAGCACAGACCCGGAGAGCACC...,-0.274,chr1,10410.0,10610.0,-
2,AGGACCGGATCAACTTGTTTCTTAGGAAAGGCGGCCAACCCAGGGT...,0.908,chr1,1006530.0,1006730.0,+
3,AGGACCGGATCAACTGGTTAGAGCTCAAAGGTCACTCCGATGACAC...,0.276,chr1,1006530.0,1006730.0,-
4,AGGACCGGATCAACTATTACTCACACAAGACACACATTGTCTGCCG...,1.295,chr1,3219386.0,3219586.0,+
...,...,...,...,...,...,...
139872,AGGACCGGATCAACTTGTGAAGGGTGCAAAGGCAGAACAGGTAGAG...,-0.872,NaN,NaN,NaN,NaN
139873,AGGACCGGATCAACTTAGTCATAACTTTATCACAGCACACAGACTA...,-0.709,NaN,NaN,NaN,NaN
139874,AGGACCGGATCAACTCTGATGTGCCAATGACATGCAACTTGTCTAA...,-0.499,NaN,NaN,NaN,NaN
139875,AGGACCGGATCAACTAGGAATTCTGCCCCTCTAAGAAGAGTTCCAA...,-0.224,NaN,NaN,NaN,NaN
139876,AGGACCGGATCAACTCGCTCTGTCCACCTGAGTGGTCTGTTACTTT...,-1.505,NaN,NaN,NaN,NaN

In [7]:
df_HepG2.to_csv('Agarwal_HepG2.csv', index=False)

In [8]:
df_large_scale = pd.read_excel('supp_materials/media-3.xlsx', header=3, sheet_name='HepG2 large-scale')
print(df_large_scale.shape)
df_summary_data = pd.read_excel('supp_materials/media-4.xlsx', sheet_name='HepG2_summary_data')
print(df_summary_data.shape)
df1 = pd.merge(df_large_scale, df_summary_data, on='name', how='inner')
print(df1.shape)



df_large_scale = pd.read_excel('supp_materials/media-3.xlsx', header=1, sheet_name='K562 large-scale')
print(df_large_scale.shape)
df_summary_data = pd.read_excel('supp_materials/media-4.xlsx', sheet_name='K562_summary_data')
print(df_summary_data.shape)
df2 = pd.merge(df_large_scale, df_summary_data, on='name', how='inner')
print(df2.shape)





df_large_scale = pd.read_excel('supp_materials/media-3.xlsx', header=0, sheet_name='WTC11 large-scale')
print(df_large_scale.shape)
df_summary_data = pd.read_excel('supp_materials/media-4.xlsx', sheet_name='WTC11_summary_data')
print(df_summary_data.shape)
df3 = pd.merge(df_large_scale, df_summary_data, on='name', how='inner')
print(df3.shape)

(164307, 11)
(139885, 5)
(139877, 15)
(243780, 7)
(226254, 5)
(226254, 11)
(75542, 7)
(56092, 5)
(55989, 11)

In [13]:
df12 = pd.merge(df1, df2, on='name', how='inner')
print(df12.shape)
df123 = pd.merge(df12, df3, on='name', how='inner')
print(df123.shape)

(20612, 25)
(0, 35)