In [1]:
import pandas as pd
import numpy as np
import os
from Bio import pairwise2
from Bio.pairwise2 import format_alignment, align

import sys
sys.path.append('..')
from MPRA_exp.utils import *
os.chdir('../../data/SirajMPRA')

/home/hxcai/anaconda3/envs/torch/lib/python3.10/site-packages/Bio/pairwise2.py:278: BiopythonDeprecationWarning: Bio.pairwise2 has been deprecated, and we intend to remove it in a future release of Biopython. As an alternative, please consider using Bio.Align.PairwiseAligner as a replacement, and contact the Biopython developers if you still need the Bio.pairwise2 module.
  warnings.warn(

In [4]:
df4 = pd.read_excel('supp/media-4.xlsx')
df4

# # a = np.log2((df['mean_RNA_ref_HEPG2'] / df['mean_Plasmid_ref_HEPG2']).astype(float))
# # b = df['allele1.log2FC_HEPG2']
# # sns.scatterplot(x=a[:10000], y=b[:10000], s = 1)

# select_columns = ['allele1.log2FC_A549', 'allele1.log2FC_HEPG2', 'allele1.log2FC_K562', 'allele1.log2FC_SKNSH', 'allele1.log2FC_HCT116', 
#                   'allele2.log2FC_A549', 'allele2.log2FC_HEPG2', 'allele2.log2FC_K562', 'allele2.log2FC_SKNSH', 'allele2.log2FC_HCT116']
# df = df[['variant'] + select_columns]

In [ ]:
df4.columns = df4.iloc[0]
df4 = df4.iloc[1:].reset_index(drop=True)
df4 = df4.rename(columns={'variant': 'Variant'})
df4

In [ ]:
df3 = pd.read_excel('supp/media-3.xlsx')
df3

,Supplementary Table 2 |Variant Oligo Sequences,Unnamed: 1,Unnamed: 2
0,Variant,Allele 1 Oligo,Allele 2 Oligo
1,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...
2,chr1:522224:G:A,TCCTGTGGTTCTCTGTTCTTTTCTCAGGTGTGTCCTTAACCTTGCA...,TCCTGTGGTTCTCTGTTCTTTTCTCAGGTGTGTCCTTAACCTTGCA...
3,chr1:729679:C:G,TCCATGCAGTGATGGTCACCTTCTCTAACAGGCATTTCAGAGTGAG...,TCCATGCAGTGATGGTCACCTTCTCTAACAGGCATTTCAGAGTGAG...
4,chr1:741397:A:G,TTAGTCAATTAGCCAAAAAGAATTGGCAGTTAATGTCAATTAATTG...,TTAGTCAATTAGCCAAAAAGAATTGGCAGTTAATGTCAATTAATTG...
...,...,...,...
365758,chr4:57975328:A:G,TTTGCCCACAAATAATTAGCTAGTTAGATTACTGTTTGAGAACCTA...,TTTGCCCACAAATAATTAGCTAGTTAGATTACTGTTTGAGAACCTA...
365759,chr20:36661369:C:A,GGTCAACAGACACATTGGGAAGGCTAAGTTAGTTCCCTCCACCTTT...,GGTCAACAGACACATTGGGAAGGCTAAGTTAGTTCCCTCCACCTTT...
365760,chr8:60683160:C:T,GGCCATGGAGTTTATTCAAATTGTATATCTAAACAATTTTAGTATT...,GGCCATGGAGTTTATTCAAATTGTATATCTAAACAATTTTAGTATT...
365761,chr7:31046388:G:C,CTCAGGGCTCCATCCCCGCCTGGCCCCATCACCCCAGGCCCTCTGG...,CTCAGGGCTCCATCCCCGCCTGGCCCCATCACCCCAGGCCCTCTGG...
365762,chr10:10216373:A:G,GAATTTATTGTAAAAAGAGAACATGCATTAACATCAGGCACAATAA...,GAATTTATTGTAAAAAGAGAACATGCATTAACATCAGGCACAATAA...

In [ ]:
df3.columns = df3.iloc[0]
df3 = df3.iloc[1:]
df3

,Variant,Allele 1 Oligo,Allele 2 Oligo
1,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...
2,chr1:522224:G:A,TCCTGTGGTTCTCTGTTCTTTTCTCAGGTGTGTCCTTAACCTTGCA...,TCCTGTGGTTCTCTGTTCTTTTCTCAGGTGTGTCCTTAACCTTGCA...
3,chr1:729679:C:G,TCCATGCAGTGATGGTCACCTTCTCTAACAGGCATTTCAGAGTGAG...,TCCATGCAGTGATGGTCACCTTCTCTAACAGGCATTTCAGAGTGAG...
4,chr1:741397:A:G,TTAGTCAATTAGCCAAAAAGAATTGGCAGTTAATGTCAATTAATTG...,TTAGTCAATTAGCCAAAAAGAATTGGCAGTTAATGTCAATTAATTG...
5,chr1:752566:G:A,AAAGAATTTTTGGCTAAGTTCCCAAAAACGATTGCAACAAAACAAA...,AAAGAATTTTTGGCTAAGTTCCCAAAAACGATTGCAACAAAACAAA...
...,...,...,...
365758,chr4:57975328:A:G,TTTGCCCACAAATAATTAGCTAGTTAGATTACTGTTTGAGAACCTA...,TTTGCCCACAAATAATTAGCTAGTTAGATTACTGTTTGAGAACCTA...
365759,chr20:36661369:C:A,GGTCAACAGACACATTGGGAAGGCTAAGTTAGTTCCCTCCACCTTT...,GGTCAACAGACACATTGGGAAGGCTAAGTTAGTTCCCTCCACCTTT...
365760,chr8:60683160:C:T,GGCCATGGAGTTTATTCAAATTGTATATCTAAACAATTTTAGTATT...,GGCCATGGAGTTTATTCAAATTGTATATCTAAACAATTTTAGTATT...
365761,chr7:31046388:G:C,CTCAGGGCTCCATCCCCGCCTGGCCCCATCACCCCAGGCCCTCTGG...,CTCAGGGCTCCATCCCCGCCTGGCCCCATCACCCCAGGCCCTCTGG...
365762,chr10:10216373:A:G,GAATTTATTGTAAAAAGAGAACATGCATTAACATCAGGCACAATAA...,GAATTTATTGTAAAAAGAGAACATGCATTAACATCAGGCACAATAA...

In [ ]:
combined_df = pd.merge(df4, df3, on='Variant', how='inner')
combined_df

,Variant,active.any,emVar.any,allele1.log2FC_A549,allele1.log2FC_HEPG2,allele1.log2FC_K562,allele1.log2FC_SKNSH,allele1.log2FC_HCT116,allele1.log2FC.SE_A549,allele1.log2FC.SE_HEPG2,...,mean_RNA_ref_K562,mean_RNA_ref_SKNSH,mean_RNA_ref_HCT116,mean_RNA_alt_A549,mean_RNA_alt_HEPG2,mean_RNA_alt_K562,mean_RNA_alt_SKNSH,mean_RNA_alt_HCT116,Allele 1 Oligo,Allele 2 Oligo
0,chr10:100025816:G:A,True,False,NaN,1.623685,2.044789,1.22237,1.280575,NaN,0.155521,...,593.166667,305.4,459,NaN,719.6,796,599.4,656.2,TCTGACCCCTCCCACGCTTCCTTTCCAGACTGAAACACTGTCTTCT...,TCTGACCCCTCCCACGCTTCCTTTCCAGACTGAAACACTGTCTTCT...
1,chr10:100029561:C:T,True,True,NaN,3.390524,0.296395,3.402503,2.162766,NaN,0.088808,...,665.166667,5250,3554.4,NaN,2298.8,439.333333,1873.8,1458.4,GCAACACAGAGGGTTCGGAAACGTGGGCTCTGCCTGCTGCCAATCA...,GCAACACAGAGGGTTCGGAAACGTGGGCTCTGCCTGCTGCCAATCA...
2,chr10:100098716:G:T,True,True,NaN,1.174309,0.853279,1.283911,1.000218,NaN,0.071422,...,1131.666667,2423,2850,NaN,1243.4,374.333333,1114.2,1060.4,CCCCCAGCAAACACGGATCTGCTCTCTGTCACTATCGATTAGCTTG...,CCCCCAGCAAACACGGATCTGCTCTCTGTCACTATCGATTAGCTTG...
3,chr10:100109592:T:C,False,False,NaN,-0.007378,0.301644,0.592409,-0.03329,NaN,0.139805,...,601.666667,643.4,718.6,NaN,695.2,522.5,802.6,754,GATCTCAGGCATCCTCACTTCGTGCCGAGAGGAGGCTCTTAAACAT...,GATCTCAGGCATCCTCACTTCGTGCCGAGAGGAGGCTCTTAAACAT...
4,chr10:100141027:T:C,False,False,NaN,-0.238128,-0.00355,-0.288184,0.041701,NaN,0.076976,...,361.666667,417,731.2,NaN,627.8,374.666667,333.2,660.4,CTCCTTTACAGGGAACATTTGCCTGGAGAACAGCTGCACCCTTGTG...,CTCCTTTACAGGGAACATTTGCCTGGAGAACAGCTGCACCCTTGTG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304273,chrX:99995091:A:G,False,False,NaN,0.171016,0.41844,-0.541239,0.296166,NaN,0.136126,...,390.166667,281,794,NaN,211.6,226,140.2,320.4,TAATTTATTCAGGAAAAATCTGAGGTCACTAACATTTACTAGTGCT...,TAATTTATTCAGGAAAAATCTGAGGTCACTAACATTTACTAGTGCT...
304274,chrX:99995933:C:G,False,False,NaN,0.433557,0.23761,0.368939,-0.133435,NaN,0.064148,...,562.666667,884.2,948.6,NaN,1853.8,657.833333,1382.6,1364.2,AGAGAGACTGACATCTCACTCCCAGGCTGGAGGCTTGCTGCACTAC...,AGAGAGACTGACATCTCACTCCCAGGCTGGAGGCTTGCTGCACTAC...
304275,chrX:99996102:A:G,False,False,NaN,0.09405,0.310849,0.070434,0.048445,NaN,0.060897,...,953.333333,1182,1679.4,NaN,1936,908.166667,1137.8,1626.6,AAGCCTGGTTTAAATTGCTCATAATGGCAGAGCAAAGAAAGAGATC...,AAGCCTGGTTTAAATTGCTCATAATGGCAGAGCAAAGAAAGAGATC...
304276,chrX:99998829:C:T,False,False,NaN,-0.496841,0.125072,0.011764,-0.355709,NaN,0.132722,...,123.666667,207.4,265,NaN,306.4,118.166667,206.8,402.6,TTATTATCTCCACTTTACAGATGAGAAAACTGTGGCTCAGATAAGT...,TTATTATCTCCACTTTACAGATGAGAAAACTGTGGCTCAGATAAGT...
304277,chrX:99999349:G:A,False,False,NaN,-0.077544,0.012644,-0.169617,0.142693,NaN,0.057932,...,737.166667,911.4,1702,NaN,1136,508.166667,629.4,1341,AGCTAGAGTGCAGTGGCGCGATCTCGGCTCACTGAAAACTCCTCCT...,AGCTAGAGTGCAGTGGCGCGATCTCGGCTCACTGAAAACTCCTCCT...

In [ ]:
combined_df.to_csv("SirajMPRA_raw", index=False)

In [2]:
combined_df = pd.read_csv('SirajMPRA_raw.csv')

/tmp/ipykernel_2053304/1039314259.py:1: DtypeWarning: Columns (28,43) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_df = pd.read_csv('SirajMPRA_raw.csv')

In [8]:
df_allele_1 = combined_df[['Variant', 'Allele 1 Oligo', 'allele1.log2FC_A549', 'allele1.log2FC_HEPG2', 'allele1.log2FC_K562', 'allele1.log2FC_SKNSH', 'allele1.log2FC_HCT116']]
df_allele_2 = combined_df[['Variant', 'Allele 2 Oligo', 'allele2.log2FC_A549', 'allele2.log2FC_HEPG2', 'allele2.log2FC_K562', 'allele2.log2FC_SKNSH', 'allele2.log2FC_HCT116']]
df_allele_1['is_ref'] = True
df_allele_2['is_ref'] = False

df_allele_1 = df_allele_1.rename(columns={'Variant': 'description', 'Allele 1 Oligo': 'seq', 'allele1.log2FC_A549': 'A549', 'allele1.log2FC_HEPG2': 'HepG2', 'allele1.log2FC_K562': 'K562', 'allele1.log2FC_SKNSH': 'SKNSH', 'allele1.log2FC_HCT116': 'HCT116'})
df_allele_2 = df_allele_2.rename(columns={'Variant': 'description', 'Allele 2 Oligo': 'seq', 'allele2.log2FC_A549': 'A549', 'allele2.log2FC_HEPG2': 'HepG2', 'allele2.log2FC_K562': 'K562', 'allele2.log2FC_SKNSH': 'SKNSH', 'allele2.log2FC_HCT116': 'HCT116'})

df = pd.concat([df_allele_1, df_allele_2], axis=0)
df = df.reset_index(drop=True)
df

/tmp/ipykernel_2053304/2622118777.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_allele_1['is_ref'] = True
/tmp/ipykernel_2053304/2622118777.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_allele_2['is_ref'] = False

,description,seq,A549,HepG2,K562,SKNSH,HCT116,is_ref
0,chr10:100025816:G:A,TCTGACCCCTCCCACGCTTCCTTTCCAGACTGAAACACTGTCTTCT...,NaN,1.623685,2.044789,1.222370,1.280575,True
1,chr10:100029561:C:T,GCAACACAGAGGGTTCGGAAACGTGGGCTCTGCCTGCTGCCAATCA...,NaN,3.390524,0.296395,3.402503,2.162766,True
2,chr10:100098716:G:T,CCCCCAGCAAACACGGATCTGCTCTCTGTCACTATCGATTAGCTTG...,NaN,1.174309,0.853279,1.283911,1.000218,True
3,chr10:100109592:T:C,GATCTCAGGCATCCTCACTTCGTGCCGAGAGGAGGCTCTTAAACAT...,NaN,-0.007378,0.301644,0.592409,-0.033290,True
4,chr10:100141027:T:C,CTCCTTTACAGGGAACATTTGCCTGGAGAACAGCTGCACCCTTGTG...,NaN,-0.238128,-0.003550,-0.288184,0.041701,True
...,...,...,...,...,...,...,...,...
608551,chrX:99995091:A:G,TAATTTATTCAGGAAAAATCTGAGGTCACTAACATTTACTAGTGCT...,NaN,-0.188583,0.693828,-0.373362,0.203649,False
608552,chrX:99995933:C:G,AGAGAGACTGACATCTCACTCCCAGGCTGGAGGCTTGCTGCACTAC...,NaN,0.402471,-0.325169,0.395378,0.076269,False
608553,chrX:99996102:A:G,AAGCCTGGTTTAAATTGCTCATAATGGCAGAGCAAAGAAAGAGATC...,NaN,0.174034,0.108281,-0.039556,0.019372,False
608554,chrX:99998829:C:T,TTATTATCTCCACTTTACAGATGAGAAAACTGTGGCTCAGATAAGT...,NaN,-0.199757,0.231536,-0.198834,0.298371,False
608555,chrX:99999349:G:A,AGCTAGAGTGCAGTGGCGCGATCTCGGCTCACTGAAAACTCCTCCT...,NaN,0.142980,-0.222729,-0.242416,0.482251,False

In [9]:
df[['chr', 'pos', 'ref', 'alt']] = df['description'].str.split(':', expand=True)
df['pos'] = df['pos'].astype(int)
df = df.sort_values(by=['chr', 'pos']).reset_index(drop=True)
df

,description,seq,A549,HepG2,K562,SKNSH,HCT116,is_ref,chr,pos,ref,alt
0,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.667516,-0.704147,0.538641,0.159069,True,chr1,14677,G,A
1,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.415984,0.554099,0.441904,-0.288019,False,chr1,14677,G,A
2,chr1:63697:T:C,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.269937,-0.391222,0.752052,1.100437,True,chr1,63697,T,C
3,chr1:63697:T:C,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.151995,-0.659023,0.204721,1.050619,False,chr1,63697,T,C
4,chr1:64764:C:T,AATAGACTCTAGTACTCTGTATTATGCAAAATTTGTCTATGTTACA...,NaN,-0.211076,-0.007174,0.499376,0.257572,True,chr1,64764,C,T
...,...,...,...,...,...,...,...,...,...,...,...,...
608551,chrX:155233098:T:C,ATCATTTACTGGTGACTGCCCTGCTAGGGTGTCAGCTGTCAGATCC...,NaN,0.615976,1.927090,0.798263,1.035440,False,chrX,155233098,T,C
608552,chrX:155233794:A:G,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,1.409758,0.556338,2.843295,1.495515,True,chrX,155233794,A,G
608553,chrX:155233794:A:G,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,0.894634,-0.072647,1.973661,0.794848,False,chrX,155233794,A,G
608554,chrX:155234730:T:C,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.312172,0.165634,-0.041383,0.444472,True,chrX,155234730,T,C
608555,chrX:155234730:T:C,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.370818,0.009694,-0.035569,0.407723,False,chrX,155234730,T,C

In [10]:
df.to_csv("SirajMPRA_609k.csv", index=False)

In [11]:
df = pd.read_csv("SirajMPRA_609k.csv")
df

,description,seq,A549,HepG2,K562,SKNSH,HCT116,is_ref,chr,pos,ref,alt
0,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.667516,-0.704147,0.538641,0.159069,True,chr1,14677,G,A
1,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.415984,0.554099,0.441904,-0.288019,False,chr1,14677,G,A
2,chr1:63697:T:C,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.269937,-0.391222,0.752052,1.100437,True,chr1,63697,T,C
3,chr1:63697:T:C,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.151995,-0.659023,0.204721,1.050619,False,chr1,63697,T,C
4,chr1:64764:C:T,AATAGACTCTAGTACTCTGTATTATGCAAAATTTGTCTATGTTACA...,NaN,-0.211076,-0.007174,0.499376,0.257572,True,chr1,64764,C,T
...,...,...,...,...,...,...,...,...,...,...,...,...
608551,chrX:155233098:T:C,ATCATTTACTGGTGACTGCCCTGCTAGGGTGTCAGCTGTCAGATCC...,NaN,0.615976,1.927090,0.798263,1.035440,False,chrX,155233098,T,C
608552,chrX:155233794:A:G,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,1.409758,0.556338,2.843295,1.495515,True,chrX,155233794,A,G
608553,chrX:155233794:A:G,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,0.894634,-0.072647,1.973661,0.794848,False,chrX,155233794,A,G
608554,chrX:155234730:T:C,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.312172,0.165634,-0.041383,0.444472,True,chrX,155234730,T,C
608555,chrX:155234730:T:C,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.370818,0.009694,-0.035569,0.407723,False,chrX,155234730,T,C

In [12]:
print(pd.isna(df).sum(0))

description         0
seq                 0
A549           356964
HepG2            2026
K562             2704
SKNSH            2888
HCT116         238340
is_ref              0
chr                 0
pos                 0
ref                 0
alt                 0
dtype: int64

In [15]:
df = df[df['seq'].str.len() == 200]
# df = df[~df[['HepG2', 'K562', 'SKNSH']].isna().any(axis=1)]
df = df.reset_index(drop=True)
df

,description,seq,A549,HepG2,K562,SKNSH,HCT116,is_ref,chr,pos,ref,alt
0,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.667516,-0.704147,0.538641,0.159069,True,chr1,14677,G,A
1,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.415984,0.554099,0.441904,-0.288019,False,chr1,14677,G,A
2,chr1:63697:T:C,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.269937,-0.391222,0.752052,1.100437,True,chr1,63697,T,C
3,chr1:63697:T:C,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.151995,-0.659023,0.204721,1.050619,False,chr1,63697,T,C
4,chr1:64764:C:T,AATAGACTCTAGTACTCTGTATTATGCAAAATTTGTCTATGTTACA...,NaN,-0.211076,-0.007174,0.499376,0.257572,True,chr1,64764,C,T
...,...,...,...,...,...,...,...,...,...,...,...,...
585600,chrX:155233098:T:C,ATCATTTACTGGTGACTGCCCTGCTAGGGTGTCAGCTGTCAGATCC...,NaN,0.615976,1.927090,0.798263,1.035440,False,chrX,155233098,T,C
585601,chrX:155233794:A:G,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,1.409758,0.556338,2.843295,1.495515,True,chrX,155233794,A,G
585602,chrX:155233794:A:G,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,0.894634,-0.072647,1.973661,0.794848,False,chrX,155233794,A,G
585603,chrX:155234730:T:C,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.312172,0.165634,-0.041383,0.444472,True,chrX,155234730,T,C
585604,chrX:155234730:T:C,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.370818,0.009694,-0.035569,0.407723,False,chrX,155234730,T,C

In [16]:
df.to_csv('SirajMPRA_total.csv', index=False)

In [15]:
# df['mean_2'] = df[['HepG2', 'K562']].mean(axis=1)
# df['mean_3'] = df[['HepG2', 'K562', 'SKNSH']].mean(axis=1)

/tmp/ipykernel_1850705/854393138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mean_2'] = df[['HepG2', 'K562']].mean(axis=1)
/tmp/ipykernel_1850705/854393138.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mean_3'] = df[['HepG2', 'K562', 'SKNSH']].mean(axis=1)

In [8]:
# from pyliftover import LiftOver
# lo = LiftOver('hg19', 'hg38')
# # lo.convert_coordinate('chr1', 1000000)

# new_df = []
# for i in tqdm(range(len(df))):
#     info = df.iloc[i, 0]
#     chr, pos, base1, base2 = info.split(':')
#     pos = int(pos)

#     converted = lo.convert_coordinate(chr, pos)
#     if converted and len(converted) > 0:
#         hg38_chr, hg38_pos = converted[0][0], converted[0][1]
#     else:
#         hg38_chr, hg38_pos = 'NaN', 0
#         print(f'Cannot convert line {i}')
    
#     new_df.append([chr, pos, hg38_chr, hg38_pos, base1, base2])

# new_df = pd.DataFrame(new_df, columns=['hg19_chr','hg19_pos','hg38_chr','hg38_pos','base1','base2'])

  5%|▍         | 15103/304278 [00:00<00:07, 38331.86it/s]

Cannot convert line 8151
Cannot convert line 8198
Cannot convert line 8212
Cannot convert line 8359

 13%|█▎        | 40137/304278 [00:01<00:06, 40865.94it/s]

Cannot convert line 32334
Cannot convert line 32345

 20%|██        | 61393/304278 [00:01<00:06, 39565.94it/s]

Cannot convert line 55226
Cannot convert line 55249
Cannot convert line 55291
Cannot convert line 55299
Cannot convert line 55312
Cannot convert line 55840

 33%|███▎      | 99617/304278 [00:02<00:05, 39598.40it/s]

Cannot convert line 90946
Cannot convert line 91033
Cannot convert line 92230
Cannot convert line 96730
Cannot convert line 96732
Cannot convert line 97867

 35%|███▌      | 107882/304278 [00:02<00:04, 40431.90it/s]

Cannot convert line 100779
Cannot convert line 100780
Cannot convert line 100781
Cannot convert line 100787
Cannot convert line 107324

 40%|████      | 122981/304278 [00:03<00:06, 28472.98it/s]

Cannot convert line 116388
Cannot convert line 116414
Cannot convert line 116481
Cannot convert line 120369
Cannot convert line 120459
Cannot convert line 120547

 43%|████▎     | 130897/304278 [00:03<00:05, 32917.68it/s]

Cannot convert line 126416
Cannot convert line 126765
Cannot convert line 126834
Cannot convert line 126889
Cannot convert line 126893
Cannot convert line 127164
Cannot convert line 127254
Cannot convert line 127259
Cannot convert line 127263
Cannot convert line 127361
Cannot convert line 127395
Cannot convert line 127531
Cannot convert line 127535
Cannot convert line 127569
Cannot convert line 127684
Cannot convert line 127710
Cannot convert line 129582
Cannot convert line 129583
Cannot convert line 129585
Cannot convert line 129594

 47%|████▋     | 142746/304278 [00:03<00:04, 36444.57it/s]

Cannot convert line 136145
Cannot convert line 136250
Cannot convert line 136251

 53%|█████▎    | 159771/304278 [00:04<00:03, 40032.82it/s]

Cannot convert line 154910
Cannot convert line 155151
Cannot convert line 155154

 57%|█████▋    | 172155/304278 [00:04<00:03, 39723.96it/s]

Cannot convert line 165160
Cannot convert line 165261
Cannot convert line 165325
Cannot convert line 166012
Cannot convert line 169496
Cannot convert line 169520
Cannot convert line 170549

 66%|██████▋   | 201691/304278 [00:05<00:02, 38636.88it/s]

Cannot convert line 194180

 72%|███████▏  | 217942/304278 [00:05<00:02, 38652.47it/s]

Cannot convert line 211182
Cannot convert line 215657
Cannot convert line 216604

 88%|████████▊ | 267204/304278 [00:07<00:00, 39549.57it/s]

Cannot convert line 260152
Cannot convert line 260199
Cannot convert line 261403
Cannot convert line 261441

 91%|█████████ | 275570/304278 [00:07<00:00, 40304.54it/s]

Cannot convert line 269859
Cannot convert line 270544
Cannot convert line 270549
Cannot convert line 270555
Cannot convert line 271046
Cannot convert line 271078
Cannot convert line 271109
Cannot convert line 271118
Cannot convert line 271167
Cannot convert line 271227
Cannot convert line 271254
Cannot convert line 271278
Cannot convert line 271323

 95%|█████████▍| 287878/304278 [00:07<00:00, 39963.42it/s]

Cannot convert line 279685

 96%|█████████▌| 291992/304278 [00:07<00:00, 40307.21it/s]

Cannot convert line 291967
Cannot convert line 291968
Cannot convert line 291969
Cannot convert line 291986
Cannot convert line 291988
Cannot convert line 291996
Cannot convert line 292016
Cannot convert line 292026
Cannot convert line 292035
Cannot convert line 292046

 99%|█████████▊| 299773/304278 [00:08<00:00, 26101.01it/s]

Cannot convert line 292687
Cannot convert line 300822

100%|██████████| 304278/304278 [00:08<00:00, 37123.22it/s]

Cannot convert line 301692
Cannot convert line 301757
Cannot convert line 301830
Cannot convert line 302027
Cannot convert line 302360
Cannot convert line 302462
Cannot convert line 303616

In [86]:
d = pd.read_csv('SirajMPRA_data_concat.csv')
d = d[d['seq'].str.len() == 200]
d.to_csv('SirajMPRA_len200.csv', sep='\t', index=False)

In [87]:
d = pd.read_csv('SirajMPRA_len200.csv', sep='\t')

In [88]:
d

,seq,A549,HepG2,K562,SKNSH,HCT116,is_ref,chr,pos,ref,alt
0,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.667516,-0.704147,0.538641,0.159069,True,chr1,14677,G,A
1,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.415984,0.554099,0.441904,-0.288019,False,chr1,14677,G,A
2,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.269937,-0.391222,0.752052,1.100437,True,chr1,63697,T,C
3,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.151995,-0.659023,0.204721,1.050619,False,chr1,63697,T,C
4,AATAGACTCTAGTACTCTGTATTATGCAAAATTTGTCTATGTTACA...,NaN,-0.211076,-0.007174,0.499376,0.257572,True,chr1,64764,C,T
...,...,...,...,...,...,...,...,...,...,...,...
585600,ATCATTTACTGGTGACTGCCCTGCTAGGGTGTCAGCTGTCAGATCC...,NaN,0.615976,1.927090,0.798263,1.035440,False,chrX,155233098,T,C
585601,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,1.409758,0.556338,2.843295,1.495515,True,chrX,155233794,A,G
585602,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,0.894634,-0.072647,1.973661,0.794848,False,chrX,155233794,A,G
585603,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.312172,0.165634,-0.041383,0.444472,True,chrX,155234730,T,C
585604,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.370818,0.009694,-0.035569,0.407723,False,chrX,155234730,T,C

In [89]:
# from pyfaidx import Fasta
# genome = Fasta('/home/hxcai/genome/hg19.fa')

# seqs = []
# for i in tqdm(range(len(d))):
#     chr, start, end = d.iloc[i][['chr','start', 'end']]
#     seq = genome[chr][start: end].seq.upper()
#     seqs.append(seq)

# d['seq'] = seqs

In [93]:
info, seq1, seq2 = df.iloc[15]

print(info)
print(seq1)
print(seq2)

from pyfaidx import Fasta
genome = Fasta('/home/hxcai/genome/hg19.fa')
seq3 = genome['chr1'][1004389-100: 1004389+100].seq.upper()

print(seq3)
print(len(seq1), len(seq2), len(seq3))

alignments = align.globalms(seq1, seq2, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

alignments = align.globalms(seq1, seq3, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

alignments = align.globalms(seq2, seq3, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

chr1:761957:A:AT
TTTCAATATACAATTAAGACTGAAAAGTATTGAGGCCTCATAAGCTGAACCTGACACAATAAATTTAAAAGGGAAACTAATTTGGAAATCAGAAAACCACTAAGGAATTTGGGAATTAGGCTTCTGCTGCCCTCTCTGCTACTGACGGTCAAGGCCTCCTCATTGTATTCTGTCCTCCATATCTCTGCTGATTCCCATT
TTTCAATATACAATTAAGACTGAAAAGTATTGAGGCCTCATAAGCTGAACCTGACACAATAAATTTAAAAGGGAAACTAATTTGGAAATCAGAAAACCATCTAAGGAATTTGGGAATTAGGCTTCTGCTGCCCTCTCTGCTACTGACGGTCAAGGCCTCCTCATTGTATTCTGTCCTCCATATCTCTGCTGATTCCCATT
TTTGTCCTCAGTGGGGGCATCGGATGCACGGGCACCATCATCGTGATTGACATCCTGGTGGACGTCATCCGCAGGCAGGGCGAGCCGCTCCACTCTGGGTCCCCCCGCCCTGCCCTGCTATAGCCCCACCCCTCCGGGCGACCCCACCCCTCCGGACGACCCCACCCCTCAGGACGACCCCACCCCTCAGGACGACCCCA
199 200 200
TTTCAATATACAATTAAGACTGAAAAGTATTGAGGCCTCATAAGCTGAACCTGACACAATAAATTTAAAAGGGAAACTAATTTGGAAATCAGAAAACCA-CTAAGGAATTTGGGAATTAGGCTTCTGCTGCCCTCTCTGCTACTGACGGTCAAGGCCTCCTCATTGTATTCTGTCCTCCATATCTCTGCTGATTCCCATT
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
TTTCAATATACAATTAAGACTGAAAAGTATTGAGGCCTCATAAGCTGAACCTGACACAATAAATTTAAAAGGGAAACTAATTTGGAAATCAGAAAACCATCTAAGGAATTTGGGAATTAGGCTTCTGCTGCCCTCTCTGCTACTGACGGTCAAGGCCTCCTCATTGTATTCTGTCCTCCATATCTCTGCTGATTCCCATT
  Score=397.5

TTTCAATATACAATTAAGACTGAAAAGTATTGAGGCCTC--ATAAGCTGAACCTGACACAATAAATT-TAAAAGGGAAACTAAT--T--TGGAAATCAGAAAACCACTAAGGAATTTGGGAATTAG--GCT----TCTG-------CTGCCCT-CTCTGCTACT-G----A------CGGTC-A----A-------GG-------C-CTCCTCATTGTATTCTGTCCTCCATATCTCTG--CTGATTCCCATT
||    |.|.|   |.||  ||    |    | |||.||  ||  ||   | |.|.|||.|| .||. |.|..|    ||  ||  |  ||||..||    |.||.|  |||.|   |||  ..||  |||    ||||       |.||||| |.|||||| | |    |      |||.| |    |       ||       | |.|||||  |.|  | |.|| |||...|||.|  | || .||||
TT----TGTCC---TCAG--TG----G----G-GGCATCGGAT--GC---A-CGGGCACCAT-CATCGTGATTG----AC--ATCCTGGTGGACGTC----ATCCGC--AGGCA---GGG--CGAGCCGCTCCACTCTGGGTCCCCCCGCCCTGCCCTGCTA-TAGCCCCACCCCTCCGGGCGACCCCACCCCTCCGGACGACCCCACCCCTCA--GGA--C-GACC-CCACCCCTCAGGAC-GA-CCCCA--
  Score=204.9

TTTCAATATACAATTAAGACTGAAAAGTATTGAGGCCTC--ATAAGCTGAACCTGACACAATAAATT-TAAAAGGGAAACTAAT--T--TGGAAATCAGAAAACCATCTAAGGAATTTGGGAATTAG--GCT----TCTG-------CTGCCCT-CTCTGCTACT-G----A------CGGTC-A----A-------GG-------C-CTCCTCATTGTATTCTGTCCTCCATATCTCTG--CTGATTCCCATT
||    |.|.|   |.||  ||    |    | |||.||  ||  ||   | |.|.|||.|| .||. |.|..|    ||  ||  |  ||||..||    |.|| .|  |||.|   |||  ..||  |||    ||||       |.||||| |.|||||| | |    |      |||.| |    |       ||       | |.|||||  |.|  | |.|| |||...|||.|  | || .||||
TT----TGTCC---TCAG--TG----G----G-GGCATCGGAT--GC---A-CGGGCACCAT-CATCGTGATTG----AC--ATCCTGGTGGACGTC----ATCC-GC--AGGCA---GGG--CGAGCCGCTCCACTCTGGGTCCCCCCGCCCTGCCCTGCTA-TAGCCCCACCCCTCCGGGCGACCCCACCCCTCCGGACGACCCCACCCCTCA--GGA--C-GACC-CCACCCCTCAGGAC-GA-CCCCA--
  Score=204.4

In [78]:
info, seq1, seq2 = df.iloc[10]

print(info)
print(seq1)
print(seq2)

from pyfaidx import Fasta
genome = Fasta('/home/hxcai/genome/hg19.fa')
seq3 = genome['chr1'][759444-100+2: 759444+100+2].seq.upper()

print(seq3)
print(len(seq1), len(seq2), len(seq3))

alignments = align.globalms(seq1, seq2, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

alignments = align.globalms(seq1, seq3, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

alignments = align.globalms(seq2, seq3, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

chr1:759444:ATATT:A
GTGAGTATACAGTCAAAATAGTTGTGAAAAGAAAAAAATAAAGTTGTCAAATTTCATGTAACCTATGTTATTTGGAAATTTAAAATAAGTTATATAAATATTTATAACAATGTTAAACAATTTCATAAGTGGACTGAATAAAACATAATATTTTATCATATACAATAGCTCCTGCCTTCCTGAGGAAAACATAAAATCAA
GTGAGTATACAGTCAAAATAGTTGTGAAAAGAAAAAAATAAAGTTGTCAAATTTCATGTAACCTATGTTATTTGGAAATTTAAAATAAGTTATATAAATATAACAATGTTAAACAATTTCATAAGTGGACTGAATAAAACATAATATTTTATCATATACAATAGCTCCTGCCTTCCTGAGGAAAACATAAAATCAA
GTGAGTATACAGTCAAAATAGTTGTGAAAAGAAAAAAATAAAGTTGTCAAATTTCATGTAACCTATGTTATTTGGAAATTTAAAATAAGTTATATAAATATTTATAACAATGTTAAACAATTTCATAAGTGGACTGAATAAAACATAATATTTTATCATATACAATAGCTCCTGCCTTCCTGAGGAAAACATAAAATCAA
200 196 200
GTGAGTATACAGTCAAAATAGTTGTGAAAAGAAAAAAATAAAGTTGTCAAATTTCATGTAACCTATGTTATTTGGAAATTTAAAATAAGTTATATAAATATTTATAACAATGTTAAACAATTTCATAAGTGGACTGAATAAAACATAATATTTTATCATATACAATAGCTCCTGCCTTCCTGAGGAAAACATAAAATCAA
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
GTGAGTATACAGTCAAAATAGTTGTGAAAAGAAAAAAATAAAGTTGTCAAATTTCATGTAACCTATGTTATTTGGAAATTTAAAATAAGTTATATAAA----TATAACAATGTTAAACAATTTCATAAGTGGACTGAATAAAACATAATATTTTATCATATACAATAGCTCCTGCCTTCCTGAGGAAAACATAAAATCAA
  Score=391.2

GTGAGTATACAGTCAAAATAGTTGTGAAAAGAAAAAAATAAAGTTGTCAAATTTCATGTAACCTATGTTATTTGGAAATTTAAAATAAGTTATATAAATATTTATAACAATGTTAAACAATTTCATAAGTGGACTGAATAAAACATAATATTTTATCATATACAATAGCTCCTGCCTTCCTGAGGAAAACATAAAATCAA
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
GTGAGTATACAGTCAAAATAGTTGTGAAAAGAAAAAAATAAAGTTGTCAAATTTCATGTAACCTATGTTATTTGGAAATTTAAAATAAGTTATATAAATATTTATAACAATGTTAAACAATTTCATAAGTGGACTGAATAAAACATAATATTTTATCATATACAATAGCTCCTGCCTTCCTGAGGAAAACATAAAATCAA
  Score=400

GTGAGTATACAGTCAAAATAGTTGTGAAAAGAAAAAAATAAAGTTGTCAAATTTCATGTAACCTATGTTATTTGGAAATTTAAAATAAGTTATATAAA----TATAACAATGTTAAACAATTTCATAAGTGGACTGAATAAAACATAATATTTTATCATATACAATAGCTCCTGCCTTCCTGAGGAAAACATAAAATCAA
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
GTGAGTATACAGTCAAAATAGTTGTGAAAAGAAAAAAATAAAGTTGTCAAATTTCATGTAACCTATGTTATTTGGAAATTTAAAATAAGTTATATAAATATTTATAACAATGTTAAACAATTTCATAAGTGGACTGAATAAAACATAATATTTTATCATATACAATAGCTCCTGCCTTCCTGAGGAAAACATAAAATCAA
  Score=391.2