In [1]:
import sys
sys.path.append('..')
from MPRA_predict.utils import *

In [ ]:
import sys
sys.path.append('..')
from MPRA_predict.utils import *

In [2]:
df = pd.read_csv('../data/Reddy_MPRA/fluorescence_data/merged.tsv', sep='\t')
df

                                                sequence  J1_P7  J1_P6  J1_P5  J1_P4  J2_P7  J2_P6  J2_P5  J2_P4  K1_P7  K1_P6  K1_P5  K1_P4  K2_P7  K2_P6  K2_P5  K2_P4  T1_P7  T1_P6  T1_P5  T1_P4  T2_P7  T2_P6  T2_P5  T2_P4  cum_sum  J1_sum  J2_sum  K1_sum  K2_sum  T1_sum  T2_sum  JURKAT   K562   THP1     class                                   final_provenance
0      GTCTCTGGGCCGGAAGCCCCCTCTCCTCCCCCGCCGCAGCCCCCTC...  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000      138       7       5       8       7      10       9   0.565  2.132  1.965    ClassI  gid=ENSG00000241839 ~ sequence_number=0 ~ log2...
1      ACCCGTGGGGAGGCGGTGAACTCCTCCGCAGGGGCCGATGCCCGGG...  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000      264       6       9       8       8      33      24  -0.362 -0.072 -0.941    ClassI  gid=ENSG00000118402 ~ sequence_number=0 ~ log2...
2      CGCTACCTCACTCACGGGCGAGAACTAAGCACCTACTGTGGACCCG...  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000      267       8       9       6      11      29      26   0.166  0.504  0.393    ClassI  gid=ENSG00000087266 ~ sequence_number=0 ~ log2...
3      GGGGGCGCTGTGCGGGGCCCAGGCTGCGGCTCCGCTCCCGGCCACG...  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000      240       9      10       8       7      19      27  -0.423 -1.086 -0.034  ClassIII  gid=ENSG00000120733 ~ type=upregulated_in_all_...
4      AACCTGGGACAACAGCAAAAAAAAAAAAAAAAAAAAAAAGGCCCCA...  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000  0.000      180       5       6      16       8      12      13   0.565  0.980  0.799    ClassI  gid=ENSG00000138621 ~ sequence_number=0 ~ log2...
...                                                  ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...      ...     ...     ...     ...     ...     ...     ...     ...    ...    ...       ...                                                ...
17099  CCCCAAGATTAACCAGTTCTGTCCTGTCAGCAGGAGCAGGCAACTA...  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.000  0.000  0.000  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.001  0.001   460794   37483   34577    6738   34864   17761   22175  -0.774  5.166 -0.528    ClassI  gid=ENSG00000104043 ~ sequence_number=0 ~ log2...
17100  TTGTTCACGTGTTTACCTGCTGATCTTCTCTCCACTATTATCCTAT...  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.000  0.001  0.001  0.000  0.000   481398   31568   28601   34163   27704   20514   17916  -0.689 -0.735 -0.553    ClassI  gid=ENSG00000268043 ~ sequence_number=0 ~ log2...
17101  TTTAGTTCTGGATTCTTTTCTTTCGGTACCTCAGACACCTATGAGT...  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001   510099   32689   28741   38694   28003   22928   18978  -0.644 -0.513 -0.332   ClassII  cell=THP1 ~ type=PureUp ~ total_num_motifs=7 ~...
17102  TTTAGCCACTTTCTGCCTAACCTGTCAGAAAGGGTAGATAGCTTCC...  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001   506883   32338   30235   38381   27410   22091   18506  -0.653 -0.642 -0.439  ClassIII  gid=ENSG00000138964 ~ type=upregulated_in_all_...
17103  CCTGTCTGTCTGTCCGCCCATCTGTAAGCCCATCTCTGTCCCATTG...  0.001  0.001  0.001  0.001  0.000  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.000  0.001   528327   36443   22615   41058   34447   23824   17722   4.710 -0.654 -0.516    ClassI  gid=ENSG00000099998 ~ sequence_number=2 ~ log2...

[17104 rows x 37 columns]

In [3]:
df.columns

Index(['sequence', 'J1_P7', 'J1_P6', 'J1_P5', 'J1_P4', 'J2_P7', 'J2_P6', 'J2_P5', 'J2_P4', 'K1_P7', 'K1_P6', 'K1_P5', 'K1_P4', 'K2_P7', 'K2_P6', 'K2_P5', 'K2_P4', 'T1_P7', 'T1_P6', 'T1_P5', 'T1_P4', 'T2_P7', 'T2_P6', 'T2_P5', 'T2_P4', 'cum_sum', 'J1_sum', 'J2_sum', 'K1_sum', 'K2_sum', 'T1_sum', 'T2_sum', 'JURKAT', 'K562', 'THP1', 'class', 'final_provenance'], dtype='object')

In [4]:
df = df[['sequence', 'K562', 'JURKAT', 'THP1', 'class']]
df

                                                sequence   K562  JURKAT   THP1     class
0      GTCTCTGGGCCGGAAGCCCCCTCTCCTCCCCCGCCGCAGCCCCCTC...  2.132   0.565  1.965    ClassI
1      ACCCGTGGGGAGGCGGTGAACTCCTCCGCAGGGGCCGATGCCCGGG... -0.072  -0.362 -0.941    ClassI
2      CGCTACCTCACTCACGGGCGAGAACTAAGCACCTACTGTGGACCCG...  0.504   0.166  0.393    ClassI
3      GGGGGCGCTGTGCGGGGCCCAGGCTGCGGCTCCGCTCCCGGCCACG... -1.086  -0.423 -0.034  ClassIII
4      AACCTGGGACAACAGCAAAAAAAAAAAAAAAAAAAAAAAGGCCCCA...  0.980   0.565  0.799    ClassI
...                                                  ...    ...     ...    ...       ...
17099  CCCCAAGATTAACCAGTTCTGTCCTGTCAGCAGGAGCAGGCAACTA...  5.166  -0.774 -0.528    ClassI
17100  TTGTTCACGTGTTTACCTGCTGATCTTCTCTCCACTATTATCCTAT... -0.735  -0.689 -0.553    ClassI
17101  TTTAGTTCTGGATTCTTTTCTTTCGGTACCTCAGACACCTATGAGT... -0.513  -0.644 -0.332   ClassII
17102  TTTAGCCACTTTCTGCCTAACCTGTCAGAAAGGGTAGATAGCTTCC... -0.642  -0.653 -0.439  ClassIII
17103  CCTGTCTGTCTGTCCGCCCATCTGTAAGCCCATCTCTGTCCCATTG... -0.654   4.710 -0.516    ClassI

[17104 rows x 5 columns]

In [5]:
df = df.rename(columns={'sequence': 'seq', 'JURKAT': 'Jurkat', 'THP1': 'THP-1'})
df

                                                     seq   K562  Jurkat  THP-1     class
0      GTCTCTGGGCCGGAAGCCCCCTCTCCTCCCCCGCCGCAGCCCCCTC...  2.132   0.565  1.965    ClassI
1      ACCCGTGGGGAGGCGGTGAACTCCTCCGCAGGGGCCGATGCCCGGG... -0.072  -0.362 -0.941    ClassI
2      CGCTACCTCACTCACGGGCGAGAACTAAGCACCTACTGTGGACCCG...  0.504   0.166  0.393    ClassI
3      GGGGGCGCTGTGCGGGGCCCAGGCTGCGGCTCCGCTCCCGGCCACG... -1.086  -0.423 -0.034  ClassIII
4      AACCTGGGACAACAGCAAAAAAAAAAAAAAAAAAAAAAAGGCCCCA...  0.980   0.565  0.799    ClassI
...                                                  ...    ...     ...    ...       ...
17099  CCCCAAGATTAACCAGTTCTGTCCTGTCAGCAGGAGCAGGCAACTA...  5.166  -0.774 -0.528    ClassI
17100  TTGTTCACGTGTTTACCTGCTGATCTTCTCTCCACTATTATCCTAT... -0.735  -0.689 -0.553    ClassI
17101  TTTAGTTCTGGATTCTTTTCTTTCGGTACCTCAGACACCTATGAGT... -0.513  -0.644 -0.332   ClassII
17102  TTTAGCCACTTTCTGCCTAACCTGTCAGAAAGGGTAGATAGCTTCC... -0.642  -0.653 -0.439  ClassIII
17103  CCTGTCTGTCTGTCCGCCCATCTGTAAGCCCATCTCTGTCCCATTG... -0.654   4.710 -0.516    ClassI

[17104 rows x 5 columns]

In [6]:
df['seq'].str.len().value_counts()

seq
250    17104
Name: count, dtype: int64

In [8]:
cell_types = ['K562', 'Jurkat', 'THP-1']

pearson_df = pd.DataFrame(index=cell_types, columns=cell_types)
for cell_type in cell_types:
    for cell_type_2 in cell_types:
        x = df[f'{cell_type}']
        y = df[f'{cell_type_2}']
        r, p = pearson(x, y)
        pearson_df.loc[cell_type, cell_type_2] = r
print(pearson_df)

        K562 Jurkat THP-1
K562   1.000  0.829 0.758
Jurkat 0.829  1.000 0.774
THP-1  0.758  0.774 1.000

In [11]:
cell_types = ['K562', 'Jurkat', 'THP-1']

for cell_type in cell_types:
    print(df[cell_type].mean(), df[cell_type].std())

3.3233991382605246e-17 1.0000292342098782
-5.3174386212168396e-17 1.0000292342098789
6.6467982765210495e-18 1.0000292342098798

In [12]:
df.to_csv('Reddy_MPRA.csv', index=False)